RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([1-9]+)$ /projects/$1/ [L,R=301,QSA]
RewriteRule ^([1-9]+)\/$ index.php/?page=$1 [L,QSA]

RewriteRule ^([a-zA-Z0-9]+)\/([1-9]+)$ /projects/$1/$2/ [L,R=301,QSA]
RewriteRule ^([a-zA-Z0-9]+)\/([1-9]+)\/$ index.php/?search=$1&page=$2 [L,QSA]

RewriteRule ^([a-zA-Z0-9]+)$ /projects/$1/ [L,R=301,QSA]
RewriteRule ^([a-zA-Z0-9]+)\/$ index.php/?search=$1&page=1 [L,QSA]
