@mixin border-radius($radius) {
	border-radius: $radius;
}

@mixin transition($time) {
	transition: all $time ease-in-out;
}

@mixin box-shadow($shadow) {
	box-shadow: $shadow;
}

@mixin flexbox() {
	display: flex;
}

@mixin flexboxCenterAlign() {
	align-items: center;
}

@mixin flexboxJustifyCenter() {
	justify-content: center;
}

@mixin order($val) {
	order: $val;
}

@mixin transform($val) {
	transform: $val;
}

@function colour($section, $color-variant) {
	@return map-get(map-get($colors, $section), $color-variant);
}
