$primary-colour: #0375B4;
$error-colour: #F74440;
$success-colour: green;
$light: #F5F5F5;
$light-grey: #EEEEEE;
$grey: #7B8676;
$dark: #333333;

$email-colour: #0F7C10;
$github-colour: #E52525;
$linkedin-colour: #007BB5;
$facebook-colour: #3B5998;
$twitter-colour: #55ACEE;
$instagram-purple-colour: #8A3AB9;
$snapchat-colour: #FFFC00;

$desktop: 1200px;
$tablet: 768px;

$colors: (
    blue:(
        main: #0375B4,
        hover: #035691,
        dark: #03427D
    ),
    red:(
        main: #E52525,
        hover: #C32424,
        dark: #AF2323
    ),
    orange:(
        main: #E1A02F,
        hover: #D2922E,
        dark: #C88C2E
    ),
    lime-green: (
        main: #B5C82F,
        hover: #A6B930,
        dark: #91A42F
    ),
    green:(
        main: #5CB85C,
        hover: #54A754,
        dark: #4B944B
    ),
    purple: (
        main: #80379B,
        hover: #62357D,
        dark: #4E3469
    )
);