/* For all devices */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.container {
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
    @include transition(1s);
}

section {
    @include flexbox();
    @include transition(1s);
}

.section-inner-container {
    width: 100%;
}

.article {
    background-color: $light;
    padding: 20px 0;
    @include box-shadow(0 0 10px 0 transparentize($dark, .8));
}

.article:nth-of-type(even) {
    background-color: white;
}

@each $color, $colors in $colors {
    .article--#{$color}.article--#{$color} {
        background-color: map-get($colors, main);
        color: white;
    }
}

.article__header {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 12px;
    font-family: 'Oswald', sans-serif;
}

p {
    margin: 10px 0;
}

img {
    vertical-align: middle;
}

.main-content ul {
    padding-left: 20px;
    margin: 10px 0;
    list-style: inside;
}

.main-content li {
    margin: 5px 0;
}

/* Only for Desktops */
@media only screen and (min-width: $desktop) {
    .container {
        width: 1170px;
    }

    .article {
        padding: 40px 0;
    }

    .article__header {
        margin-bottom: 24px;
    }

    .main-content li {
        margin: 10px 0;
    }

    .article--50-50 > .container {
        @include flexbox();
        @include flexboxCenterAlign();
    }

    .article--50-50:nth-child(even) > .container {
        -webkit-box-direction: reverse;
        -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .article-50 {
        width: 50%;
    }

    .article--50-50 .article__header {
        margin: 0;
    }
}