/* For all devices */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	text-align: center;
}

.container {
	max-width: 100%;
	padding: 0 15px;
	margin: auto;
	transition: all 1s ease-in-out;
}

.main-content {
	display: flex;
	transition: all 1s ease-in-out;
}

.main-content__inner {
	width: 100%;
}

.article {
	background-color: $light;
	padding: 15px 0;
	box-shadow: 0 0 10px 0 transparentize($dark, .8);
}

.article:nth-child(even) {
	background-color: white;
}

@each $color, $colors in $colors {
	.article--#{$color}.article--#{$color} {
		background-color: map-get($colors, main);
		color: white;
	}
}

.article__header {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	margin: 12px 0;
	font-family: "Oswald", sans-serif;
	width: 100%;
}

.article__header.article__header--no-padding {
	margin: 0;
}

.article__header:first-child {
	margin-top: 0;
}

.article__sub-heading {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	margin: 8px 0;
	font-family: "Oswald", sans-serif;
	width: 100%;
}

p {
	margin: 10px 0;
}

time {
	display: block;
}

img {
	vertical-align: middle;
}

.faux-heading {
	margin: 10px 0;
}

.main-content ul {
	padding-left: 20px;
	margin: 10px 0;
	list-style: inside;
}

.main-content li {
	margin: 2px 0;
}

.table {
	margin: 0 auto;
	border-color: $dark;
}

.table__row {
	border: 1px solid $dark;
}

.table__col {
	padding: 6px;
}

.table__col--header {
	font-weight: 700;
}

/* Only for Desktops */
@media only screen and (min-width: $desktop) {
	.container {
		width: 1170px;
	}

	.article {
		padding: 30px 0;
	}

	.article__header {
		font-size: 26px;
		line-height: 30px;
		margin: 24px 0;
	}

	.article__sub-heading {
		font-size: 18px;
		line-height: 20px;
		margin: 10px 0;
	}

	.main-content li {
		margin: 5px 0;
	}

	.article--halved > .container {
		display: flex;
		align-items: center;
	}

	.article--halved:nth-of-type(even) > .container {
		flex-direction: row-reverse;
	}

	.article__half {
		width: 50%;
	}

	.article--halved .article__header {
		margin: 0;
	}
}