@import "tools/variables";
@import "tools/mixins";

@import "components/form";
@import "components/slide-show";
@import "components/stats";
@import "components/timeline";
@import "components/latest-projects";
@import "components/contact";

.home-hello__hello {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: $brand-colour;
    text-shadow: 1px 1px 2px transparentize($grey, 0.4);
    margin: 18px auto;

    span {
        font-size: 28px;
        line-height: 30px;
    }
}

.home-hello__welcome {
    margin-bottom: 22px;
    font-weight: 700;
}

.map {
    width: 100%;
    height: 200px;
}

.skills__group-title {
    display: inline-block;
    width: auto;
    padding: 10px 22px;
    margin: 0 auto;
    background: $light-colour;
    color: $dark-colour;
    border-radius: 8px 8px 0 0;
}

.skills__items {
    margin: 0;
    padding-left: 0;
    background: $light-colour;
    color: $dark-colour;
    border-radius: 5px;
    text-align: left;
    list-style: none;
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.6);
}

.skill {
    margin: 0;
    padding: 5px 10px;
    cursor: auto;
    transition: all 0.4s ease-in-out;
    border-bottom: 1px solid $light-grey;

    &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.skill > p {
    display: flex;
    font-weight: 700;
    margin: 0;
}

.skill--expandable {
    cursor: pointer;
}
.skill--expandable:hover {
    .skill__toggle {
        color: $brand-colour;
    }
}

.skill__toggle {
    vertical-align: middle;
    margin-left: auto;
}

.skill__description {
    display: none;
    padding: 8px 0 8px 14px;

    p:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: $tablet-width) {
    .home-hello__hello {
        font-size: 34px;
        line-height: 36px;

        span {
            font-size: 46px;
            line-height: 50px;
        }
    }

    .home-hello__welcome {
        font-size: 22px;
        line-height: 24px;
    }

    .map {
        height: 250px;
    }
}

@media only screen and (min-width: $tablet-width) {
    .about {
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .row__column {
            width: 50%;
            padding: 0 30px;
        }
    }
}

@media only screen and (min-width: $desktop-width) {
    .home-hello__hello {
        font-size: 38px;
        line-height: 40px;

        span {
            font-size: 50px;
            line-height: 54px;
        }
    }

    .home-hello__welcome {
        font-size: 26px;
        line-height: 30px;
    }

    .about {
        .row__column {
            width: 33%;

            &:not(:first-child):not(:nth-child(3)) {
                padding: 0 15px;
            }
        }
    }

    .skills {
        .container {
            align-items: flex-start;
        }
    }

    .skills__group {
        margin: 0;
    }
}
