DirectoryIndex index.php index.html

# Block user from viewing list of files in a directory
Options -Indexes
IndexIgnore *

# Custom error pages
# Custom error message for a unauthorized page
ErrorDocument 401 /error/401/
# Custom error message for a forbidden page
ErrorDocument 403 /error/403/
# Custom error message for a page not found
ErrorDocument 404 /error/404/
# Custom error message for a internal server issue
ErrorDocument 500 /error/500/

# Stop users from viewing these folders/files
<Files /node_modules/>
    order allow,deny
    deny from all
</Files>

<Files .gitattributes>
    order allow,deny
    deny from all
</Files>

<Files .gitignore>
    order allow,deny
    deny from all
</Files>

<Files .htaccess>
    order allow,deny
    deny from all
</Files>

<Files gulpfile.js>
    order allow,deny
    deny from all
</Files>

<Files package.json>
    order allow,deny
    deny from all
</Files>

<Files README.md>
    order allow,deny
    deny from all
</Files>

# Add redirects for similar URLS to actual page/URL
RewriteEngine on
RewriteRule ^about-me/?$ /about/ [R=301,NC,L]
RewriteRule ^contact-me/?$ /contact/ [R=301,NC,L]
RewriteRule ^portfolio/?$ /projects/ [R=301,NC,L]
RewriteRule ^sitemap/?$ /site-map/ [R=301,NC,L]
RewriteRule ^sitemap.xml?$ /site-map.xml [R=301,NC,L]

# Add caching for resources
<IfModule mod_headers.c>
    # Cache specified files for 31 days
    <FilesMatch "\.(ico|jpg|jpeg|png|gif|css|svg|js)$">
        Header set Cache-Control "max-age=2678400, public"
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 seconds"
    ExpiresByType image/gif "access plus 2678400 seconds"
    ExpiresByType image/jpeg "access plus 2678400 seconds"
    ExpiresByType image/png "access plus 2678400 seconds"
    ExpiresByType image/svg+xml "access plus 2678400 seconds"
    ExpiresByType text/css "access plus 2678400 seconds"
    ExpiresByType text/javascript "access plus 2678400 seconds"
    ExpiresByType application/json "access plus 2678400 seconds"
    ExpiresByType application/javascript "access plus 2678400 seconds"
    ExpiresByType text/plain "access plus 2678400 seconds"
</IfModule>

<IfModule mod_deflate.c>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE text/html text/plain text/xml
        AddOutputFilterByType DEFLATE text/css
        AddOutputFilterByType DEFLATE application/javascript
        AddOutputFilterByType DEFLATE application/json
        AddOutputFilterByType DEFLATE application/rss+xml
        AddOutputFilterByType DEFLATE application/xml
    </IfModule>
</IfModule>
