#block user from viewing list of files in a directory
Options -Indexes
IndexIgnore *

#stop users from viewing this file
<Files .htaccess>
order allow,deny
deny from all
</Files>

DirectoryIndex index.php index.html

#custom error messages
#custom error message for a unauthorized page
ErrorDocument 401 /error/401/
#custom error message for a forbidden page
ErrorDocument 403 /error/403/
#custom error message for a page not found
ErrorDocument 404 /error/404/
#custom error message for a internal server issue
ErrorDocument 500 /error/500/

#make rewrite on
RewriteEngine On

#rewrite old url to new one plus use https
#what to check
RewriteCond %{HTTP_HOST} ^jahidulpabelislam.comxa.com
RewriteCond %{SERVER_PORT} 80
#whathappens when it happens
RewriteRule ^(.*)$ https://jahidulpabelislam.000webhostapp.com/$1 [R=301,L]


#rewrite url to use https' when user goes to site without 'http'
#what to check
RewriteCond %{HTTPS} off
#whathappens when it happens
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]