#Block user from viewing list of files in a directory
Options -Indexes
IndexIgnore *

#Stop users from viewing this file
<Files .htaccess>
order allow,deny
deny from all
</Files>

#Stop users from viewing this folder/files
<Files /error/>
order allow,deny
deny from all
</Files>

DirectoryIndex index.php index.html

#Custom error messages
#Custom error message for a unauthorized page
ErrorDocument 401 /error/401/
#Custom error message for a forbidden page
ErrorDocument 403 /error/403/
#Custom error message for a page not found
ErrorDocument 404 /error/404/
#Custom error message for a internal server issue
ErrorDocument 500 /error/500/

#Make rewrite on
RewriteEngine On

#Rewrite old url to new one plus use https
#What to check
RewriteCond %{HTTP_HOST} ^jahidulpabelislam.comxa.com
RewriteCond %{SERVER_PORT} 80
#Whathappens when it happens
RewriteRule ^(.*)$ https://jahidulpabelislam.000webhostapp.com/$1 [R=301,L]