/*
 * Any css for many templates and/or components.
 */

.link {
    color: $dark-colour;
    border-bottom: transparent solid 1px;
}

.link:hover {
    color: darken($dark-colour, 10%);
    border-bottom-color: darken($dark-colour, 10%);
}

@each $colour, $colours in $colour-schemes {
    .link--#{$colour} {
        color: map-get($colours, main);
    }

    .link--#{$colour}:hover {
        color: map-get($colours, hover);
        border-bottom-color: map-get($colours, hover);
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .similar-links.similar-links > .container {
        flex-direction: row-reverse;
    }
}
