/* For all devices */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.container {
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
    transition: all 1s ease-in-out;
}

.main-content {
    display: flex;
    transition: all 1s ease-in-out;
}

.main-content__inner {
    width: 100%;
}

.main-content ul {
    margin: 10px 0;
    padding-left: 20px;
    list-style: inside;
}

.main-content li {
    margin: 2px 0;
}

p {
    margin: 10px 0;
}

time {
    display: block;
}

img {
    vertical-align: middle;
}

.faux-heading {
    margin: 10px 0;
}

.table {
    margin: 0 auto;
    border-color: $dark-colour;
}

.table__row {
    border: 1px solid $dark-colour;
}

.table__col {
    padding: 6px;
}

.table__col--header {
    font-weight: 700;
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .container {
        width: 1170px;
    }

    .main-content li {
        margin: 5px 0;
    }
}
