/* For all devices */
body {
    font: 400 14px "Cabin", sans-serif;
    font-family: "Cabin", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $dark-colour;
}

strong {
    font-weight: 700;
}

/* Only for Desktops */
@media only screen and (min-width: $tablet-width) {
    body {
        font-size: 15px;
        line-height: 20px;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    body {
        font-size: 16px;
        line-height: 21px;
    }
}
