/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .contact-form {
        margin: auto;
        max-width: 439px;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .contact-form {
        max-width: 800px;
    }
}
