/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix::after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

.row {
  padding: 15px 0;
  background-color: #ffffff; }

.row--alt {
  background-color: #f5f5f5;
  color: #333333; }

.row--brand {
  background-color: #0078c9;
  color: #ffffff; }

.row--secondary {
  background-color: #ffeb05;
  color: #333333; }

.row--flush {
  padding: 0; }

.row__heading {
  width: 100%;
  margin: 12px 0;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700; }

.row__heading:first-child {
  margin-top: 0; }

.row__sub-heading {
  width: 100%;
  margin: 8px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700; }

.row__column-image {
  width: 75%;
  max-width: 165px; }

/* Only for Desktops */
@media only screen and (min-width: 768px) {
  .row {
    padding: 30px 0; }
  .row--flush {
    padding: 0; }
  .row__heading {
    margin: 24px 0;
    font-size: 26px;
    line-height: 30px; }
  .row__sub-heading {
    margin: 10px 0;
    font-size: 18px;
    line-height: 20px; }
  .row--halves > .container {
    display: flex;
    align-items: center; }
  .row--halves .row__column {
    width: 50%; }
    .row--halves .row__column:first-child {
      padding-right: 30px; }
    .row--halves .row__column:last-child {
      padding-left: 30px; }
  .row--halves .row__column--flush.row__column--flush {
    padding-left: 0; } }

@media only screen and (min-width: 1200px) {
  .row--thirds > .container {
    display: flex;
    align-items: center; }
    .row--thirds > .container .row__column {
      width: 33%; }
      .row--thirds > .container .row__column:first-child {
        padding-right: 30px; }
      .row--thirds > .container .row__column:not(:first-child):not(:last-child) {
        padding: 0 15px; }
      .row--thirds > .container .row__column:last-child {
        padding-left: 30px; }
    .row--thirds > .container .row__heading {
      margin: 0; } }

.main-content {
  display: flex;
  transition: all 1s ease-in-out; }

.nav + .main-content {
  padding-top: 46px; }

.main-content__inner {
  width: 100%; }

/* For all devices */
.footer {
  background-color: #f5f5f5;
  color: #7b8676;
  border-top: 1px solid #eeeeee;
  padding: 6px; }

.footer p {
  margin: 5px auto; }

.footer__links,
.footer__legal,
.footer__version {
  display: inline-block;
  width: 100%; }

.footer__link::after {
  content: "|";
  color: #7b8676;
  margin: 0 4px; }

.footer__link:last-child::after {
  content: none; }

.footer__link {
  position: relative;
  color: #333333; }

.footer__link::before {
  content: "\00a0";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 12px);
  height: 1px;
  border-bottom: transparent solid 1px;
  transition: all 0.3s ease-in-out; }

.footer__link:hover,
.footer__link:focus {
  color: #1a1a1a; }

.footer__link:hover::before,
.footer__link:focus::before {
  border-bottom-color: #1a1a1a; }

.footer__link:last-child::before {
  width: 100%; }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 10px; }
  .footer > .container {
    display: flex;
    align-items: center; }
  .footer p {
    margin: 10px 0; }
  .footer__links {
    width: 33%;
    text-align: left;
    order: 1; }
  .footer__legal {
    width: 33%;
    text-align: right;
    order: 3; }
  .footer__version {
    width: 33%;
    text-align: center;
    order: 2; } }

/* For all devices */
.button {
  width: auto;
  margin: 5px;
  padding: 6px 12px;
  background-color: #333333;
  color: #ffffff;
  font: inherit;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out; }

.button:hover,
.button:focus {
  background-color: #262626; }

.button--white {
  background-color: #ffffff;
  color: #333333; }

.button--white:hover,
.button--white:focus {
  background-color: #fcfcfc; }

.button--clear {
  background-color: transparent;
  color: #ffffff; }

.button--brand {
  background-color: #0078c9;
  color: #ffffff; }

.button--brand:hover,
.button--brand:focus {
  background-color: #0081D6; }

.button--secondary {
  background-color: #ffeb05;
  color: #333333; }
  .button--secondary:hover, .button--secondary:focus {
    background-color: #ffef38; }

.button--clear:hover,
.button--clear:focus,
.button--clear:active,
.button--clear:active:hover,
.button--clear:active:focus {
  background-color: transparent;
  color: #cccccc; }

a.button {
  display: inline-block; }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .button {
    margin: 7px;
    padding: 9px 14px; } }

.button:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: 0.65; }

.link {
  color: #333333;
  border-bottom: transparent solid 1px; }

.link:hover,
.link:focus {
  color: #1a1a1a;
  border-bottom-color: #1a1a1a; }

.link--brand {
  color: #0078c9; }

.link--brand:hover,
.link--brand:focus {
  color: #0081D6;
  border-bottom-color: #0081D6; }

.table {
  margin: 0 auto;
  border-color: #333333; }

.table__row {
  border: 1px solid #333333; }

.table__col {
  padding: 6px; }

.table__col--header {
  font-weight: 700; }

/* For all devices */
.social-links {
  padding: 10px;
  background: #eeeeee url("/assets/images/social.jpg?v=2") no-repeat center center scroll;
  background-size: cover;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4); }

.social-links__heading {
  margin: 10px 0 5px;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  line-height: 37px;
  text-shadow: 2px 2px 3px #000000; }

.social-links__image.social-links__image {
  height: 50px;
  margin: 15px 3px; }

.social-link--instagram:hover .social-links__image, .social-link--instagram:focus .social-links__image {
  background: radial-gradient(circle farthest-corner at 32% 106%, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%), linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4); }

.social-link--instagram .social-links__image {
  width: 50px;
  border-radius: 11.1px; }
  .social-link--instagram .social-links__image i {
    width: 36.8px;
    height: 36.8px;
    border: 3.4px solid #ffffff;
    border-radius: 10.4px; }
  .social-link--instagram .social-links__image i::before {
    width: 19.05px;
    height: 19.05px;
    border: 3.4px solid #ffffff;
    border-radius: 9.5px; }
  .social-link--instagram .social-links__image i::after {
    top: 3px;
    right: 3px;
    width: 4.5px;
    height: 4.5px;
    border-radius: 2.2px; }

.social-link--linkedin:hover .social-links__image,
.social-link--linkedin:focus .social-links__image {
  background-color: #007bb5; }

.social-link--github:hover .social-links__image,
.social-link--github:focus .social-links__image {
  background-color: #e52525; }

/* Only for Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .social-links__heading {
    margin: 15px 0 10px; }
  .social-links__image.social-links__image {
    height: 60px;
    margin: 20px 3px; }
  .social-link--instagram .social-links__image {
    width: 60px;
    border-radius: 13.32px; }
    .social-link--instagram .social-links__image i {
      width: 44.16px;
      height: 44.16px;
      border: 4.08px solid #ffffff;
      border-radius: 12.48px; }
    .social-link--instagram .social-links__image i::before {
      width: 22.86px;
      height: 22.86px;
      border: 4.08px solid #ffffff;
      border-radius: 11.4px; }
    .social-link--instagram .social-links__image i::after {
      top: 3.6px;
      right: 3.6px;
      width: 5.4px;
      height: 5.4px;
      border-radius: 2.64px; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .social-links {
    background-attachment: fixed; }
  .social-links__heading {
    margin: 20px 0 25px;
    font-size: 40px;
    line-height: 42px; }
  .social-links__image.social-links__image {
    height: 70px;
    margin: 0 20px 25px; }
  .social-link--instagram .social-links__image {
    width: 70px;
    border-radius: 15.54px; }
    .social-link--instagram .social-links__image i {
      width: 51.52px;
      height: 51.52px;
      border: 4.76px solid #ffffff;
      border-radius: 14.56px; }
    .social-link--instagram .social-links__image i::before {
      width: 26.67px;
      height: 26.67px;
      border: 4.76px solid #ffffff;
      border-radius: 13.3px; }
    .social-link--instagram .social-links__image i::after {
      top: 4.2px;
      right: 4.2px;
      width: 6.3px;
      height: 6.3px;
      border-radius: 3.08px; } }

.cookie-modal {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  background: #333333;
  box-shadow: 0 0 10px 0 #333333;
  z-index: 10; }
  .cookie-modal.is-open {
    display: block; }
  .cookie-modal > .modal__content {
    transform: translateY(-50%);
    top: 50%; }

.cookie-modal__text {
  text-align: left;
  font-weight: 700; }

.cookie-modal__actions {
  text-align: right; }

.cookie-modal__link:hover,
.cookie-modal__link:focus {
  color: #1bbe69;
  border-bottom-color: #1bbe69; }

.cookie-modal__close {
  padding: 4px 8px;
  font-weight: 700;
  background-color: #1aad5b;
  color: #ffffff; }
  .cookie-modal__close:hover, .cookie-modal__close:focus {
    background-color: #1bbe69; }

@media only screen and (min-width: 768px) {
  .cookie-modal {
    font-size: 14px;
    line-height: 18px; }
  .cookie-modal__text {
    width: 80%; }
  .cookie-modal__actions {
    margin-left: 0; } }

@media only screen and (min-width: 1200px) {
  .cookie-modal__close {
    padding: 5px 10px; } }

/*# sourceMappingURL=maps/global.css.map */
