/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix::after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

.row, .contact-me,
.connect {
  padding: 15px 0;
  background-color: #ffffff; }

.row--alt, .contact-me {
  background-color: #f5f5f5;
  color: #333333; }

.row--flush {
  padding: 0; }

.row--light-blue {
  background-color: #54c6e2;
  color: #ffffff; }

.row--dark-blue {
  background-color: #0078c9;
  color: #ffffff; }

.row--purple {
  background-color: #82379d;
  color: #ffffff; }

.row--pink {
  background-color: #f47ab3;
  color: #ffffff; }

.row--red {
  background-color: #f12525;
  color: #ffffff; }

.row--orange {
  background-color: #f69e00;
  color: #ffffff; }

.row--yellow {
  background-color: #ffef38;
  color: #333333; }

.row--light-green {
  background-color: #3dc714;
  color: #ffffff; }

.row--lime-green {
  background-color: #b5cf16;
  color: #ffffff; }

.row--dark-green {
  background-color: #1aad5b;
  color: #ffffff; }

.row--grey {
  background-color: #7b8676;
  color: #ffffff; }

.row--black {
  background-color: #333333;
  color: #ffffff; }

.row__heading, .connect__heading {
  width: 100%;
  margin: 12px 0;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700; }

.row__heading:first-child, .connect__heading:first-child {
  margin-top: 0; }

.row__sub-heading {
  width: 100%;
  margin: 8px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700; }

.row__column-image {
  width: 75%;
  max-width: 165px; }

/* Only for Desktops */
@media only screen and (min-width: 768px) {
  .row, .contact-me,
  .connect {
    padding: 30px 0; }
  .row--flush {
    padding: 0; }
  .row__heading, .connect__heading {
    margin: 24px 0;
    font-size: 26px;
    line-height: 30px; }
  .row__sub-heading {
    margin: 10px 0;
    font-size: 18px;
    line-height: 20px; }
  .row--halves > .container, .contact-me > .container, .connect > .container {
    display: flex;
    align-items: center; }
  .row--halves .row__column, .contact-me .row__column, .connect .row__column, .row--halves .contact-me__column, .contact-me .contact-me__column, .connect .contact-me__column,
  .row--halves .connect__column,
  .contact-me .connect__column,
  .connect .connect__column {
    width: 50%; }
  .row--halves .row__heading, .contact-me .row__heading, .connect .row__heading, .row--halves .connect__heading, .contact-me .connect__heading, .connect .connect__heading {
    margin: 0; } }

@media only screen and (min-width: 1200px) {
  .row--thirds > .container {
    display: flex;
    align-items: center; }
    .row--thirds > .container .row__column, .row--thirds > .container .contact-me__column,
    .row--thirds > .container .connect__column {
      width: 33%; }
    .row--thirds > .container .row__heading, .row--thirds > .container .connect__heading {
      margin: 0; } }

.main-content {
  display: flex;
  transition: all 1s ease-in-out; }

.nav + .main-content {
  padding-top: 46px; }

.main-content__inner {
  width: 100%; }

.main-content ul {
  margin: 10px 0;
  padding-left: 20px;
  list-style: inside; }

.main-content li {
  margin: 2px 0; }

/* For all devices */
.footer {
  background-color: #f5f5f5;
  color: #7b8676;
  border-top: 1px solid #eeeeee;
  padding: 6px; }

.footer p {
  margin: 5px auto; }

.footer__links,
.footer__legal,
.footer__version {
  display: inline-block;
  width: 100%; }

.footer__link::after {
  content: "|";
  color: #7b8676;
  margin: 0 4px; }

.footer__link:last-child::after {
  content: none; }

.footer__link {
  position: relative;
  color: #333333; }

.footer__link::before {
  content: "\00a0";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 12px);
  height: 1px;
  border-bottom: transparent solid 1px;
  transition: all 0.3s ease-in-out; }

.footer__link:hover,
.footer__link:focus {
  color: #1a1a1a; }

.footer__link:hover::before,
.footer__link:focus::before {
  border-bottom-color: #1a1a1a; }

.footer__link:last-child::before {
  width: 100%; }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 10px; }
  .footer > .container {
    display: flex;
    align-items: center; }
  .footer p {
    margin: 10px 0; }
  .footer__links {
    width: 33%;
    text-align: left;
    order: 1; }
  .footer__legal {
    width: 33%;
    text-align: right;
    order: 3; }
  .footer__version {
    width: 33%;
    text-align: center;
    order: 2; } }

/* For all devices */
.button {
  width: auto;
  margin: 5px;
  padding: 6px 12px;
  background-color: #333333;
  color: #ffffff;
  font: inherit;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out; }

.button:hover,
.button:focus {
  background-color: #262626; }

.button:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: 0.65; }

.button--light-blue {
  background-color: #54c6e2;
  color: #ffffff; }

.button--light-blue:hover,
.button--light-blue:focus {
  background-color: #53d1ec; }

.button--dark-blue {
  background-color: #0078c9;
  color: #ffffff; }

.button--dark-blue:hover,
.button--dark-blue:focus {
  background-color: #0081D6; }

.button--purple {
  background-color: #82379d;
  color: #ffffff; }

.button--purple:hover,
.button--purple:focus {
  background-color: #9339af; }

.button--pink {
  background-color: #f47ab3;
  color: #ffffff; }

.button--pink:hover,
.button--pink:focus {
  background-color: #ff82bf; }

.button--red {
  background-color: #f12525;
  color: #ffffff; }

.button--red:hover,
.button--red:focus {
  background-color: #ff2525; }

.button--orange {
  background-color: #f69e00;
  color: #ffffff; }

.button--orange:hover,
.button--orange:focus {
  background-color: #fba300; }

.button--yellow {
  background-color: #ffef38;
  color: #333333; }

.button--yellow:hover,
.button--yellow:focus {
  background-color: #fffd3c; }

.button--light-green {
  background-color: #3dc714;
  color: #ffffff; }

.button--light-green:hover,
.button--light-green:focus {
  background-color: #3bcf14; }

.button--lime-green {
  background-color: #b5cf16;
  color: #ffffff; }

.button--lime-green:hover,
.button--lime-green:focus {
  background-color: #bdd716; }

.button--dark-green {
  background-color: #1aad5b;
  color: #ffffff; }

.button--dark-green:hover,
.button--dark-green:focus {
  background-color: #1bbe69; }

.button--grey {
  background-color: #7b8676;
  color: #ffffff; }

.button--grey:hover,
.button--grey:focus {
  background-color: #889283; }

.button--black {
  background-color: #333333;
  color: #ffffff; }

.button--black:hover,
.button--black:focus {
  background-color: #262626; }

.button--white {
  background-color: #ffffff;
  color: #333333; }

.button--white:hover,
.button--white:focus {
  background-color: #fcfcfc; }

.button--clear {
  background-color: transparent;
  color: #ffffff; }

.button--clear:hover,
.button--clear:focus,
.button--clear:active,
.button--clear:active:hover,
.button--clear:active:focus {
  background-color: transparent;
  color: #cccccc; }

a.button {
  display: inline-block;
  margin: 5px;
  font-weight: 700;
  text-decoration: none;
  transition: none; }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .button {
    margin: 7px;
    padding: 9px 14px; } }

/* For all devices */
.field {
  padding: 0 2px; }
  .field:not(:first-child) {
    margin-top: 20px; }
  .field:not(:last-child) {
    margin-bottom: 20px; }

.field__label {
  display: inline-block;
  font-weight: 700; }
  .field__label span {
    font-weight: 400;
    color: #7b8676; }

.field__feedback,
.field__error,
.latest-projects__error,
.projects__error {
  display: none;
  width: 100%;
  margin: 0;
  font-weight: 700; }

.field__feedback {
  color: #00a000; }


.field__error,
.latest-projects__error,
.projects__error {
  color: #f74440; }

.input {
  width: 100%;
  margin: 5px auto;
  padding: 6px 12px;
  border: solid #e0e0e0 1px;
  border-radius: 2px;
  background: #ffffff;
  color: #333333;
  font: inherit;
  outline: none;
  transition: all 0.3s ease-in-out; }
  .input:disabled {
    opacity: 0.65; }
  .field .input {
    margin-top: 0;
    margin-bottom: 0; }

.input::placeholder {
  color: #cdcdcd; }

.input:focus {
  box-shadow: 0 0 8px #0078c9;
  border-color: #0078c9; }

.input--invalid {
  border-color: #f74440; }

.input--invalid:focus {
  border-color: #f74440;
  box-shadow: 0 0 8px rgba(247, 68, 64, 0.6); }

.input--valid {
  border-color: #00a000; }

.input--valid:focus {
  border-color: #00a000;
  box-shadow: 0 0 8px rgba(0, 160, 0, 0.6); }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .input {
    padding: 9px 14px; } }

.table {
  margin: 0 auto;
  border-color: #333333; }

.table__row {
  border: 1px solid #333333; }

.table__col {
  padding: 6px; }

.table__col--header {
  font-weight: 700; }

/* For all devices */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(51, 51, 51, 0.6);
  cursor: pointer; }

.modal[hidden="hidden"] {
  display: block;
  visibility: hidden;
  z-index: -1; }

.modal__content {
  position: relative;
  max-width: 90%;
  margin: 40px auto;
  padding: 15px;
  background-color: #ffffff;
  border: #7b8676 solid 1px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4);
  cursor: default; }

.modal__close {
  position: absolute;
  right: 0;
  margin: 0;
  top: 0;
  transform: translate(40%, -40%);
  font-size: 26px;
  padding: 12px 14px;
  min-height: 44px;
  min-width: 44px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4);
  background: #f74440; }

.modal__heading {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 22px; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .modal__content {
    max-width: 75%; } }

/* For Desktops */
@media only screen and (min-width: 1200px) {
  .modal__content {
    max-width: 750px; } }

/* For all devices */
.pagination.pagination {
  display: inline-block;
  padding: 3px 38px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2); }

.pagination__item.pagination__item {
  display: inline-block;
  margin: 1px 4px; }

.pagination__link.pagination__link {
  display: inline-block;
  min-height: 38px;
  min-width: 38px;
  padding: 8px 14px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: #ffffff;
  color: #333333;
  transition: all 0.25s ease-in-out; }

.pagination__link:hover,
.pagination__link:focus {
  color: #0078c9; }

.pagination__link.pagination__link--active,
.pagination__link--active:hover,
.pagination__link--active:focus {
  background: #0078c9;
  border-color: #0069b0;
  color: #ffffff;
  cursor: default; }

/* For all devices */
.social-links {
  padding: 10px;
  background: #eeeeee url("/assets/images/social.jpg?v=2") no-repeat center center scroll;
  background-size: cover;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4); }

.social-links__heading {
  margin: 10px 0 5px;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  line-height: 37px;
  text-shadow: 2px 2px 3px #000000; }

.social-links__image.social-links__image {
  height: 50px;
  margin: 15px 3px; }

.social-link--instagram:hover .social-links__image, .social-link--instagram:focus .social-links__image {
  background: radial-gradient(circle farthest-corner at 32% 106%, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%), linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4); }

.social-link--instagram .social-links__image {
  width: 50px;
  border-radius: 11.1px; }
  .social-link--instagram .social-links__image i {
    width: 36.8px;
    height: 36.8px;
    border: 3.4px solid #ffffff;
    border-radius: 10.4px; }
  .social-link--instagram .social-links__image i::before {
    width: 19.05px;
    height: 19.05px;
    border: 3.4px solid #ffffff;
    border-radius: 9.5px; }
  .social-link--instagram .social-links__image i::after {
    top: 3px;
    right: 3px;
    width: 4.5px;
    height: 4.5px;
    border-radius: 2.2px; }

.social-link--linkedin:hover .social-links__image,
.social-link--linkedin:focus .social-links__image {
  background-color: #007bb5; }

.social-link--github:hover .social-links__image,
.social-link--github:focus .social-links__image {
  background-color: #e52525; }

/* Only for Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .social-links__heading {
    margin: 15px 0 10px; }
  .social-links__image.social-links__image {
    height: 60px;
    margin: 20px 3px; }
  .social-link--instagram .social-links__image {
    width: 60px;
    border-radius: 13.32px; }
    .social-link--instagram .social-links__image i {
      width: 44.16px;
      height: 44.16px;
      border: 4.08px solid #ffffff;
      border-radius: 12.48px; }
    .social-link--instagram .social-links__image i::before {
      width: 22.86px;
      height: 22.86px;
      border: 4.08px solid #ffffff;
      border-radius: 11.4px; }
    .social-link--instagram .social-links__image i::after {
      top: 3.6px;
      right: 3.6px;
      width: 5.4px;
      height: 5.4px;
      border-radius: 2.64px; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .social-links {
    background-attachment: fixed; }
  .social-links__heading {
    margin: 20px 0 25px;
    font-size: 40px;
    line-height: 42px; }
  .social-links__image.social-links__image {
    height: 70px;
    margin: 0 20px 25px; }
  .social-link--instagram .social-links__image {
    width: 70px;
    border-radius: 15.54px; }
    .social-link--instagram .social-links__image i {
      width: 51.52px;
      height: 51.52px;
      border: 4.76px solid #ffffff;
      border-radius: 14.56px; }
    .social-link--instagram .social-links__image i::before {
      width: 26.67px;
      height: 26.67px;
      border: 4.76px solid #ffffff;
      border-radius: 13.3px; }
    .social-link--instagram .social-links__image i::after {
      top: 4.2px;
      right: 4.2px;
      width: 6.3px;
      height: 6.3px;
      border-radius: 3.08px; } }

.cookie-banner {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: #333333;
  box-shadow: 0 0 10px 0 #333333;
  z-index: 10; }

.cookie-banner > .container {
  display: flex;
  align-items: center;
  padding: 0 15px; }

.cookie-banner__text {
  text-align: left;
  color: #ffffff;
  font-weight: 700; }

.cookie-banner__actions {
  text-align: right;
  margin-left: 15px; }

.cookie-banner__link {
  color: #ffffff;
  border-bottom-color: #ffffff; }

.cookie-banner__link:hover,
.cookie-banner__link:focus {
  color: #1bbe69;
  border-bottom-color: #1bbe69; }

.cookie-banner__close {
  padding: 4px 8px;
  font-weight: 700; }

/* Only for Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .cookie-banner {
    font-size: 14px;
    line-height: 18px; }
  .cookie-banner > .container {
    padding: 0 60px; }
  .cookie-banner__text {
    width: 80%; }
  .cookie-banner__actions {
    width: 20%;
    margin-left: 0; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .cookie-banner > .container {
    padding: 0 120px; }
  .cookie-banner__close {
    padding: 5px 10px; } }

.slide-show {
  margin: 0 -15px; }

.slide-show__viewport {
  position: relative;
  overflow: hidden;
  transition: all 1s ease-in-out; }

.slide-show__viewport:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.3); }

.slide-show__slides {
  display: flex;
  position: relative;
  width: 100%;
  left: 0;
  align-items: center;
  transition: left 2s ease;
  z-index: 1; }

.slide-show__slide {
  position: relative;
  margin: auto; }

.slide-show__image {
  max-width: 100%;
  max-height: 350px;
  transition: all 1s ease-in-out; }

.slide-show__image:hover {
  transform: scale(1.1); }

.slide-show__nav {
  position: absolute;
  top: calc(50% - 15px);
  padding: 0;
  z-index: 2; }

.slide-show__nav[data-direction="previous"] {
  left: 0; }

.slide-show__nav[data-direction="next"] {
  right: 0; }

.slide-show__nav svg {
  width: 30px;
  height: 30px;
  opacity: 0.8;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.3);
  transition: all 0.3s ease-in-out; }

.slide-show__nav[data-direction="previous"] svg {
  border-radius: 0 50% 50% 0; }

.slide-show__nav[data-direction="next"] svg {
  border-radius: 50% 0 0 50%; }

.slide-show__nav:hover svg,
.slide-show__nav:focus svg {
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 0 20px 0 #333333; }

.slide-show__nav svg path {
  fill: #333333;
  transition: all 0.3s ease-in-out; }

.slide-show__bullets {
  margin: 15px auto; }

.slide-show__bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: auto 8px;
  border-radius: 50%;
  background-color: #e1e1e1;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.4s ease-in-out; }

.slide-show__bullet--active {
  background-color: #0d0d0d;
  transform: scale(1.2); }

.slide-show__bullet:not(.slide-show__bullet--active):hover,
.slide-show__bullet:not(.slide-show__bullet--active):focus {
  background-color: #c8c8c8;
  transform: scale(1.05); }

.expanded-slide-show {
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  background: transparent;
  opacity: 0;
  transition: all 1s ease-in-out;
  transition-property: background, top, left, height, width, opacity;
  cursor: initial; }

.expanded-slide-show--open {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 100;
  background: #f5f5f5; }

.expanded-slide-show--closing {
  z-index: 100; }

.expanded-slide-show__image-container {
  display: flex;
  position: absolute;
  top: 20px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 55px);
  align-items: center; }

.expanded-slide-show__image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.3);
  opacity: 0;
  transition: all 1s ease-in-out; }

.expanded-slide-show__image--active {
  opacity: 1; }

.expanded-slide-show__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  padding: 0 15px;
  background-color: #000000;
  color: #ffffff; }

.expanded-slide-show__bullets {
  width: 33%; }

.expanded-slide-show__bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  background-color: #e1e1e1;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.4s ease-in-out; }

.expanded-slide-show__bullet--active {
  background: #ffffff;
  transform: scale(1.2); }

.expanded-slide-show__bullet:not(.expanded-slide-show__bullet--active):hover,
.expanded-slide-show__bullet:not(.expanded-slide-show__bullet--active):focus {
  background-color: #c8c8c8;
  transform: scale(1.05); }

.expanded-slide-show__navigations {
  width: 33%;
  text-align: left; }

.expanded-slide-show__nav {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

.expanded-slide-show__nav:hover,
.expanded-slide-show__nav:focus {
  opacity: 1; }

.expanded-slide-show__nav svg {
  width: 28px;
  height: 28px; }

.expanded-slide-show__counter {
  width: 33%;
  margin: 0;
  text-align: right; }

.expanded-slide-show__counter span {
  font-weight: 700; }

.expanded-slide-show__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 7px 10px;
  min-width: 32px;
  min-height: 32px;
  font-size: 21px;
  z-index: 1; }

.project {
  margin-top: 24px;
  padding: 0 15px 15px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2); }

.project:first-child {
  margin-top: 0; }

.project__header,
.project__meta {
  display: flex;
  align-items: center; }

.project__header {
  margin: 8px 0 0; }

.project__meta {
  margin: 0 0 15px; }

.project__title {
  width: 100%;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: left; }

.project__date {
  width: 100%;
  margin: 0 0 0 auto;
  font-size: 14px;
  text-align: right;
  color: #737373; }

.project__type {
  width: 100%;
  margin: 15px 0 0;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: #0078c9; }

.project__skills {
  margin: 15px 0; }

.project__skill {
  display: inline-block;
  margin: 2px;
  padding: 5px;
  border: 1px solid #0078c9;
  border-radius: 2px;
  color: #0078c9;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  transition-property: border-color, background-color, color, box-shadow; }

.project__skill:hover,
.project__skill:focus {
  border-color: #0081D6;
  background-color: #0081D6;
  color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 120, 201, 0.4); }

.project__skill--searched,
.project__skill--searched:hover,
.project__skill--searched:focus {
  border-color: #006AB0;
  background-color: #006AB0;
  color: #ffffff; }

.project__skill--searched:hover,
.project__skill--searched:focus {
  box-shadow: none; }

.project__description {
  text-align: left;
  margin-top: 15px; }

.project__description > p:first-child {
  margin-top: 0; }

.project__description > p:last-child {
  margin-bottom: 0; }

.project__slide-show {
  margin: 0 -15px; }

.project .slide-show__viewport {
  border-radius: 10px 10px 0 0; }

.project__footer {
  display: flex;
  margin: 15px 0 0;
  justify-content: space-between; }

.project__link {
  display: inline-block;
  position: relative;
  margin: 0 12px;
  color: #0078c9; }

.project__link:first-child {
  margin-left: 0; }

.project__link:last-child {
  margin-right: 0; }

.project__link:hover,
.project__link:focus {
  color: #0081D6; }

.project__link::after {
  content: "\00a0";
  position: absolute;
  top: 25%;
  height: 50%;
  width: 2px;
  margin: 0 12px;
  background: rgba(123, 134, 118, 0.2); }

.project__link:last-child::after {
  content: none; }

.project__read-more {
  position: relative;
  margin: 0 36px 0 auto;
  padding: 5px 5px 5px 12px;
  border: 0;
  border-radius: 30px 0 0 30px;
  font-weight: 700;
  background: #0078c9; }

.project__read-more:hover,
.project__read-more:focus {
  background: #0081D6; }

.project__read-more::after {
  content: "\f35a";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background: #0078c9;
  font-family: "Font Awesome 5 Free";
  font-size: 36px;
  line-height: 32px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  border-radius: 0 30px 30px 0;
  transition: background-color 0.2s ease-in-out; }

.project__read-more:hover::after,
.project__read-more:focus::after {
  background-color: #0081D6; }

.detailed-project .project__links {
  margin: 15px 0; }

.detailed-project .project__type {
  margin: 0; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .project {
    width: calc(50% - 10px); }
  .project:nth-child(2) {
    margin-top: 0; }
  .project:nth-child(odd) {
    margin-right: 10px; }
  .project:nth-child(even) {
    margin-left: 10px; }
  .project:last-child:nth-child(odd) {
    margin-right: 0; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .project {
    width: calc(33% - 14px); }
  .project:nth-child(3) {
    margin-top: 0; }
  .project:nth-child(1),
  .project:nth-child(4n) {
    margin-right: 14px;
    margin-left: 0; }
  .project:nth-child(2),
  .project:nth-child(5n) {
    margin-right: 7px;
    margin-left: 7px; }
  .project:nth-child(odd) {
    margin-right: 0;
    margin-left: 14px; }
  .project__read-more::after {
    font-size: 40px;
    line-height: 33px; } }

.workflow__item {
  width: 100%;
  margin-bottom: 10px; }

.workflow__image {
  width: 100%;
  max-width: 100px;
  height: auto; }

.workflow__description {
  margin-top: 10px; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .workflow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .workflow__item {
    display: inline-block;
    width: calc(50% - 20px);
    margin: 0 10px 10px; }
  .workflow__image {
    max-width: 120px; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .workflow__item {
    width: calc(33% - 20px); }
  .workflow__image {
    max-width: 150px; } }

.stats__item {
  width: 100%;
  margin-bottom: 14px; }

.stats__item:last-child {
  margin-bottom: 0; }

.stats__heading {
  margin: 0; }

.stats__text {
  margin: 0; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .stats__item {
    display: inline-block;
    width: calc(50% - 20px);
    margin: 0 10px 20px; }
  .stats__item:nth-last-child(2):nth-child(odd) {
    margin-bottom: 0; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .stats__item {
    width: calc(25% - 20px);
    margin: 0 10px; } }

.timeline {
  position: relative;
  overflow: hidden; }

.timeline__inner {
  display: flex;
  overflow-x: scroll;
  padding: 0 30px; }

.timeline__item {
  position: relative;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  flex: 0 0 250px; }
  .timeline__item::before {
    position: absolute;
    content: "\00a0";
    top: 50%;
    left: 0;
    right: 0;
    height: 3px;
    background: #0078c9; }
  .timeline__item:first-child::before {
    left: 50%; }
  .timeline__item:last-child::before {
    right: 50%; }
  .timeline__item::after {
    content: "\00a0";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -13px;
    margin-top: -15px;
    border: 2px solid #0078c9;
    border-radius: 50%;
    background-color: #f5f5f5;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #333333;
    z-index: 1;
    width: 34px;
    height: 34px;
    font-size: 18px;
    line-height: 31px; }
  .timeline__item:nth-child(even) {
    flex-direction: column-reverse; }

.timeline__item:nth-child(odd) .timeline__content::before {
  bottom: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff; }

.timeline__item:nth-child(even) .timeline__content::before {
  top: -10px;
  bottom: auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff; }

.timeline__item--school::after {
  content: "\f19d"; }

.timeline__item--coding::after {
  content: "\f121"; }

.timeline__item--baby::after {
  content: "\f77c"; }

.timeline__item--work::after {
  content: "\f108"; }

.timeline__item--football::after {
  content: "\f1e3"; }

.timeline__item--childhood::after {
  content: "\f1b3"; }

.timeline__item--food::after {
  content: "\f2e7"; }

.timeline__item--film::after {
  content: "\f008"; }

.timeline__item--present::after {
  color: #0078c9;
  border-color: #0078c9;
  box-shadow: 0 0 10px 0 #0078c9; }

.timeline__content {
  position: relative;
  margin-top: 4px;
  left: -5px;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(123, 134, 118, 0.1); }

.timeline__content::before {
  content: " ";
  position: absolute;
  width: 0;
  bottom: -10px;
  z-index: 1; }

.timeline__content p {
  margin: 0; }

.timeline__date {
  font-weight: 700;
  font-style: italic; }

/* For all devices */
.home-hello {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #0078c9;
  text-shadow: 1px 1px 2px rgba(123, 134, 118, 0.6); }

.home-hello__hello {
  margin: 10px 0; }
  .home-hello__hello span {
    font-size: 28px;
    line-height: 30px; }

.home-hello__welcome {
  display: block; }

.home-hello__images {
  position: relative;
  display: inline-block;
  width: 66%;
  max-width: 150px;
  margin: 0 auto; }

.home-hello__image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4); }

.home-hello__image--logo {
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: none;
  opacity: 0;
  transition: 1s opacity ease; }
  .home-hello__image--logo:hover {
    opacity: 1; }

.latest-projects .container {
  padding: 0; }

.latest-projects__view.latest-projects__view {
  margin-right: 0;
  margin-left: 0; }

.latest-projects__slide-show {
  width: 100%;
  margin: 0; }

.latest-projects .slide-show__viewport:hover {
  box-shadow: none;
  cursor: initial; }

.latest-project__image {
  opacity: 0.15;
  transition: all 2s ease-in-out; }

.latest-project.slide-show__slide--active .latest-project__image {
  opacity: 1; }

.latest-project__info-content {
  margin: 0 auto;
  padding: 10px 35px;
  background-color: #333333;
  color: #ffffff;
  cursor: initial;
  opacity: 0.15;
  transition: all 2s ease-in-out; }

.latest-project.slide-show__slide--active .latest-project__info-content {
  opacity: 1; }

.latest-project__link.latest-project__link {
  transition: all 0.3s ease-in-out;
  font-weight: 700; }

.latest-project__image:hover {
  transform: none; }

.latest-project__header {
  margin: 10px auto 15px;
  display: flex;
  align-items: center; }

.latest-project__title {
  width: 100%;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  white-space: nowrap; }

.latest-project__date {
  width: 100%;
  margin: 0 0 0 36px;
  font-size: 14px;
  text-align: right;
  white-space: nowrap; }

.latest-projects__loading {
  width: 100%; }

/* Only for Tablets */
@media only screen and (min-width: 768px) {
  .home-hello {
    font-size: 22px;
    line-height: 24px; }
  .home-hello__hello {
    font-size: 34px;
    line-height: 36px; }
    .home-hello__hello span {
      font-size: 46px;
      line-height: 50px; }
  .home-hello__images {
    width: 50%;
    max-width: 200px; }
  .latest-projects {
    padding: 0; }
    .latest-projects .container {
      padding: 0 15px; }
      .latest-projects .container > div:first-child {
        text-align: left; }
    .latest-projects .slide-show__bullets {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1; }
    .latest-projects .slide-show__bullet {
      box-shadow: 0 0 10px 0 #ffffff; }
  .latest-project__info {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .latest-project__info-content {
    max-width: 75%;
    transform: translateY(100%);
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 5px; }
  .latest-project.slide-show__slide--active .latest-project__info-content {
    transform: translateY(0); }
  .latest-project__image {
    height: 100%;
    width: 100%;
    object-fit: cover; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .home-hello {
    font-size: 26px;
    line-height: 30px; }
  .home-hello__hello {
    font-size: 38px;
    line-height: 40px; }
    .home-hello__hello span {
      font-size: 50px;
      line-height: 54px; }
  .home-hello__images {
    width: 25%;
    max-width: 220px; } }

/* For all devices */
.about-row {
  font-weight: 700; }

.images-of-me {
  position: relative;
  width: 75%;
  max-width: 165px;
  margin: auto; }

.images-of-me__image.images-of-me__image {
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4);
  transition: all 0.4s ease-in-out;
  border-radius: 50%; }

.images-of-me__image.images-of-me__image--grown {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%; }

.images-of-me:hover .images-of-me__image--baby {
  opacity: 0; }

.images-of-me:hover .images-of-me__image--grown {
  opacity: 1; }

.map {
  width: 100%;
  height: 200px; }

.about-row--skills .row__column, .about-row--skills .contact-me__column,
.about-row--skills .connect__column {
  margin: 12px 0;
  padding: 0 15px; }

.about-row--skills .row__sub-heading {
  display: inline-block;
  width: auto;
  padding: 8px;
  margin: 0 auto;
  background: #f5f5f5;
  border-radius: 12px 12px 0 0; }

.skills.skills {
  margin: 0;
  padding-left: 0;
  background: #f5f5f5;
  border-radius: 5px;
  text-align: left;
  list-style: none; }

.skills__item {
  padding: 5px 10px;
  cursor: auto;
  font-weight: 400;
  transition: all 0.4s ease-in-out; }

.skills__item.skills__item {
  margin: 0; }

.skills__item p {
  display: inline-block;
  margin: 0; }

.skills__item--expandable {
  cursor: pointer; }

.skills__item--expandable:hover {
  background-color: #0081D6;
  border-color: #0081D6;
  color: #ffffff; }

.skills__toggle {
  vertical-align: middle; }

.skills__description {
  display: none; }

@media only screen and (min-width: 768px) {
  .map {
    height: 250px; } }

@media only screen and (min-width: 1200px) {
  .about-row--skills .container {
    align-items: flex-start; }
  .about-row--skills .row__column, .about-row--skills .contact-me__column,
  .about-row--skills .connect__column {
    margin: 0; } }

.contact-me {
  padding: 0; }

.contact-me__column {
  padding: 30px 15px; }

.contact-me__column--header {
  background: #0078c9 url("/assets/images/contact.jpg?v=2") no-repeat center center scroll;
  background-size: cover;
  color: #ffffff; }

.contact-me__title {
  font-size: 46px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 20px; }

.contact-me__line-breaker {
  margin: 30px auto 38px;
  max-width: 50%; }

.contact-form__feedback {
  display: none;
  margin-bottom: 20px; }

.contact-form__submit {
  margin: 0; }

.connect .social-link {
  display: block; }
  .connect .social-link:not(:last-child) {
    margin-bottom: 14px; }

.connect .container {
  display: flex;
  flex-direction: column-reverse; }

@media only screen and (min-width: 768px) {
  .contact-me {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 46px); }
  .contact-me__column--header {
    display: flex;
    align-self: stretch;
    align-items: center; }
    .contact-me__column--header > div {
      width: 100%;
      max-width: 585px;
      margin: 0 auto; }
  .contact-me__column--form {
    max-width: 585px;
    margin: 0; }
  .contact-form {
    text-align: left; }
  .connect .container {
    flex-direction: row; } }

/* For all devices */
.search-form {
  margin: 30px auto; }

.search-form__inner {
  position: relative; }

.search-form__input {
  margin: 0;
  width: 100%;
  border: 3px solid #0078c9;
  border-radius: 40px;
  font-size: 15px;
  padding: 6px 12px; }

.search-form__submit {
  position: absolute;
  top: 4px;
  right: 16px;
  margin: 0;
  padding: 4px 0 4px 4px;
  border-radius: 50%;
  font-size: 22px;
  background: transparent;
  color: transparent;
  transition: color 0.2s ease-in-out; }

.search-form__submit:hover,
.search-form__submit:focus {
  background: transparent; }

.search-form__submit:focus,
.search-form__input:focus + .search-form__submit {
  color: #0078c9; }

.projects__loading {
  width: 100%; }

.pagination.projects__pagination {
  display: none;
  margin-top: 20px;
  margin-bottom: 5px; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .search-form {
    margin: 40px auto; }
  .search-form__inner {
    max-width: 436px;
    margin: 0 auto; }
  .projects__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .search-form {
    margin: 60px auto; }
  .search-form__input {
    font-size: 18px;
    padding: 8px 14px; }
  .search-form__submit {
    top: 2px;
    right: 18px;
    padding: 8px 0 8px 8px;
    font-size: 24px; }
  .pagination.projects__pagination {
    margin-top: 40px;
    margin-bottom: 10px; } }

/* For all devices */
.site-map {
  width: 100%;
  text-align: left;
  color: #333333; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .site-map.site-map {
    width: 50%;
    margin-left: auto;
    margin-right: auto; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .site-map.site-map {
    width: 25%; } }
