/*
  IMPORT ALL NECESSARY CSS FILES
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* For all devices */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  text-align: center; }

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
  transition: all 1s ease-in-out; }

section {
  display: flex;
  transition: all 1s ease-in-out; }

.section-inner-container {
  width: 100%; }

.article {
  background-color: #f5f5f5;
  padding: 15px 0;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2); }

.article:nth-of-type(even) {
  background-color: white; }

.article--blue.article--blue {
  background-color: #0375b4;
  color: white; }

.article--red.article--red {
  background-color: #e52525;
  color: white; }

.article--orange.article--orange {
  background-color: #e1a02f;
  color: white; }

.article--lime-green.article--lime-green {
  background-color: #b5c82f;
  color: white; }

.article--green.article--green {
  background-color: #5cb85c;
  color: white; }

.article--purple.article--purple {
  background-color: #80379b;
  color: white; }

.article__header {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 12px;
  font-family: 'Oswald', sans-serif; }

p {
  margin: 10px 0; }

img {
  vertical-align: middle; }

.main-content ul {
  padding-left: 20px;
  margin: 10px 0;
  list-style: inside; }

.main-content li {
  margin: 5px 0; }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px; }
  .article {
    padding: 30px 0; }
  .article__header {
    margin-bottom: 24px;
    font-size: 26px;
    line-height: 30px; }
  .main-content li {
    margin: 10px 0; }
  .article--50-50 > .container {
    display: flex;
    align-items: center; }
  .article--50-50:nth-child(even) > .container {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .article-50 {
    width: 50%; }
  .article--50-50 .article__header {
    margin: 0; } }

/*
  Any base css for all pages.
  Any css for components/templates that will only have 1 line of code if separated.
*/
/* For all devices */
body {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333; }

a {
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: inherit; }

a > img {
  opacity: .9;
  transition: all 0.3s ease-in-out; }

a:hover > img {
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4);
  cursor: pointer;
  opacity: 1; }

blockquote {
  padding: 5px 15px;
  border-left: 5px solid #eee; }

strong {
  font-weight: 700; }

/* Only for Desktops */
@media only screen and (min-width: 768px) {
  body {
    font-size: 15px;
    line-height: 20px; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 16px;
    line-height: 21px; } }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*
  Any css for many templates and/or components.
*/
.link {
  color: #333;
  border-bottom: transparent solid 1px; }

.link:hover {
  color: #1a1a1a;
  border-bottom-color: #1a1a1a; }

.link--blue {
  color: #0375b4;
  border-bottom: transparent solid 1px; }

.link--blue:hover {
  color: #035691;
  border-bottom-color: #035691; }

.link--red {
  color: #e52525;
  border-bottom: transparent solid 1px; }

.link--red:hover {
  color: #c32424;
  border-bottom-color: #c32424; }

.link--orange {
  color: #e1a02f;
  border-bottom: transparent solid 1px; }

.link--orange:hover {
  color: #d2922e;
  border-bottom-color: #d2922e; }

.link--lime-green {
  color: #b5c82f;
  border-bottom: transparent solid 1px; }

.link--lime-green:hover {
  color: #a6b930;
  border-bottom-color: #a6b930; }

.link--green {
  color: #5cb85c;
  border-bottom: transparent solid 1px; }

.link--green:hover {
  color: #54a754;
  border-bottom-color: #54a754; }

.link--purple {
  color: #80379b;
  border-bottom: transparent solid 1px; }

.link--purple:hover {
  color: #62357d;
  border-bottom-color: #62357d; }

.project__header {
  display: flex;
  align-items: center;
  padding: 20px 0 10px 0; }

.project-title {
  margin-top: 20px;
  margin-bottom: 4px; }

.project-date {
  margin-bottom: 10px; }

.project-title--inline {
  margin: 0;
  text-align: left; }

.project-date--inline {
  margin: 0;
  margin-left: 24px;
  text-align: right; }

.image-of-me {
  border-radius: 50%; }

/* For all devices */
button,
[type=button],
[type=submit] {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none; }

.btn {
  margin: 5px;
  width: auto;
  padding: 6px 12px;
  border-radius: 2px;
  color: white;
  background-color: #333; }

.btn:hover,
.btn:focus {
  background-color: #262626; }

.btn:disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: .65; }

.btn--blue {
  background-color: #0375b4; }

.btn--blue:hover,
.btn--blue:focus {
  background-color: #035691; }

.btn--red {
  background-color: #e52525; }

.btn--red:hover,
.btn--red:focus {
  background-color: #c32424; }

.btn--orange {
  background-color: #e1a02f; }

.btn--orange:hover,
.btn--orange:focus {
  background-color: #d2922e; }

.btn--lime-green {
  background-color: #b5c82f; }

.btn--lime-green:hover,
.btn--lime-green:focus {
  background-color: #a6b930; }

.btn--green {
  background-color: #5cb85c; }

.btn--green:hover,
.btn--green:focus {
  background-color: #54a754; }

.btn--purple {
  background-color: #80379b; }

.btn--purple:hover,
.btn--purple:focus {
  background-color: #62357d; }

.btn--clear {
  background-color: transparent;
  border-color: transparent;
  color: white; }

.btn--clear:hover,
.btn--clear:focus,
.btn--clear:active,
.btn--clear:active:hover,
.btn--clear:active:focus {
  background-color: transparent;
  color: #cccccc; }

a.btn {
  margin: 5px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  font-weight: 700;
  text-decoration: none;
  display: inline-block; }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .btn {
    margin: 7px;
    padding: 9px 14px; } }

/* For all devices */
.input {
  padding: 6px 12px;
  margin: 5px auto;
  width: 100%;
  border: solid #E0E0E0 1px;
  border-radius: 2px;
  color: #333;
  outline: none;
  background: white; }

.input::placeholder {
  color: gray; }

.input:focus {
  box-shadow: 0 0 8px #0375b4;
  border-color: #0375b4; }

.input.invalid {
  border-color: #e52525; }

.input:focus.invalid {
  border-color: #e52525;
  box-shadow: 0 0 8px rgba(229, 37, 37, 0.6); }

.input.valid {
  border-color: green; }

.input:focus.valid {
  border-color: green;
  box-shadow: 0 0 8px rgba(0, 128, 0, 0.6); }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .input {
    padding: 9px 14px; } }

/* For all devices */
.footer {
  background-color: #f5f5f5;
  color: gray;
  border-top: 1px solid #eee;
  padding: 6px; }

.footer__links,
.footer__legal {
  display: inline-block;
  width: 100%; }

.footer__link:after {
  content: "|";
  color: gray;
  margin: 0 4px; }

.footer__link:last-child:after {
  content: none; }

.footer__link {
  position: relative;
  color: #333; }

.footer__link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: calc(100% - 12px);
  border-bottom: transparent solid 1px;
  transition: all 0.3s ease-in-out; }

.footer__link:hover {
  color: #1a1a1a; }

.footer__link:hover:before {
  border-bottom-color: #1a1a1a; }

.footer__link:last-child:before {
  width: 100%; }

.footer p {
  margin: 5px auto; }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 10px; }
  .footer > .container {
    display: flex;
    align-items: center; }
  .footer__links {
    width: 50%;
    text-align: left; }
  .footer__legal {
    width: 50%;
    text-align: right; }
  .footer p {
    margin: 10px 0; } }

/* For all devices */
.input-group {
  margin-bottom: 10px;
  padding: 0 2px; }

label {
  margin: 5px 0 0 0;
  font-weight: 700;
  display: inline-block; }

.required,
.notice {
  color: #e52525;
  font-weight: 700; }

.feedback {
  font-weight: 700;
  margin: 0;
  display: none; }

.feedback--success {
  color: green; }

.feedback--error {
  color: #e52525; }

/* For all devices */
.jumbotron {
  color: #FFFFFF;
  background: #0375b4 url("/assets/images/work.jpg") no-repeat center center scroll;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh; }

.jumbotron__overlay {
  background: rgba(51, 51, 51, 0.15);
  display: flex;
  height: 100%; }

.jumbotron__title {
  text-shadow: 2px 2px 3px black;
  font-size: 50px;
  font-weight: bold;
  line-height: 52px; }

.jumbotron__line-breaker {
  margin: 30px 0 38px 0; }

.jumbotron__desc {
  text-shadow: 2px 2px 3px black;
  font-size: 26px;
  font-weight: bold;
  line-height: 28px; }

.scroll-to-content {
  cursor: pointer;
  position: absolute;
  bottom: 24px;
  left: 50%;
  margin-left: -18px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0.8;
  animation: bounce 1.5s linear infinite; }

.scroll-to-content:hover {
  opacity: 1;
  background: rgba(245, 245, 245, 0.1); }

/* Only for Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .scroll-to-content {
    margin-left: -20px;
    width: 40px;
    height: 40px; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .jumbotron {
    background-attachment: fixed; }
  .scroll-to-content {
    margin-left: -25px;
    width: 50px;
    height: 50px; } }

@keyframes bounce {
  0% {
    bottom: 24px; }
  50% {
    bottom: 36px; }
  100% {
    bottom: 24px; } }

.nav {
  z-index: 2;
  margin: 0 -15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.7s ease-in-out; }

.nav--light {
  background-color: rgba(255, 255, 255, 0.08); }

.nav--dark {
  background-color: rgba(51, 51, 51, 0.2); }

.nav.scrolled,
.nav.opened {
  box-shadow: 0 0 10px 0 #333;
  background-color: white; }

.nav__mobile-header {
  height: 46px; }

.nav__mobile-header:before,
.nav__mobile-header:after {
  display: table;
  content: " "; }

.nav__mobile-header:after {
  clear: both; }

.nav__brand {
  display: inline-block; }

.nav__brand--logo-container {
  padding: 4px 0;
  height: 46px; }

.nav__brand--logo {
  height: 100%;
  border-radius: 50%;
  background: transparent;
  border: 1px solid transparent;
  opacity: 1; }

.scrolled .nav__brand--logo,
.opened .nav__brand--logo {
  background: #333;
  border-color: #333; }

.nav__brand--logo.current,
.nav__brand--logo-container:hover .nav__brand--logo {
  background: #0375b4;
  border-color: #0375b4; }

.nav__brand--logo-container:hover .nav__brand--logo.current {
  box-shadow: none; }

.opened .nav__brand--logo {
  display: none; }

.nav__links__toggle {
  position: absolute;
  top: 0;
  right: 16px;
  margin: 6px 10px 6px 0;
  padding: 7px;
  border: solid transparent 2px;
  border-radius: 50%;
  transition: all 0.7s ease-in-out; }

.menu-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: white;
  transition: all 0.7s ease-in-out;
  position: relative; }

.scrolled .menu-bar {
  background-color: #333; }

.opened .nav__links__toggle {
  border-color: #e52525; }

.opened .menu-bar {
  background-color: #e52525; }

.menu-bar--top {
  top: 0; }

.menu-bar--middle {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto; }

.menu-bar--bottom {
  top: 0;
  margin-top: 4px; }

.opened .menu-bar--top {
  top: 6px;
  transform: rotate(45deg); }

.opened .menu-bar--middle,
.opened:hover .menu-bar--middle {
  background-color: transparent;
  width: 0; }

.opened .menu-bar--bottom {
  top: -6px;
  transform: rotate(-45deg); }

.nav__links-container,
.nav__social-links-wrapper {
  display: none; }

.nav__links,
.nav__social-links {
  border-top: #eee 1px solid; }

.nav__links > li > a {
  padding: 12px 12px;
  display: block;
  color: white; }

.scrolled .nav__links > li > a,
.opened .nav__links > li > a {
  color: #333; }

.nav__links > li > a:focus,
.nav__links > li > a:hover {
  color: #0375b4; }

.nav__links > li.active > a {
  background-color: #0375b4;
  color: white; }

.nav__social-links li {
  display: inline-block; }

.nav__social-links .social-link__img {
  height: 36px;
  width: 36px;
  margin: 10px 4px;
  background: transparent; }

.nav.scrolled .nav__social-links .social-link__img,
.nav.opened .nav__social-links .social-link__img {
  background: #333; }

.nav__social-links .social-link:hover .social-link__img {
  background: #0375b4; }

.nav__social-links .social-link__img--instagram {
  transition: all 0.3s ease-in-out; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .nav {
    margin: 0; }
  .nav__wrapper {
    display: flex; }
  .nav__mobile-header {
    flex: 1;
    order: 2; }
  .nav__links__toggle {
    display: none; }
  .nav__links-container {
    display: block;
    flex: 1;
    order: 3; }
  .nav__social-links-wrapper {
    display: block;
    order: 1;
    flex: 1; }
  .nav__social-links {
    border-top: none;
    text-align: left; }
  .nav__links {
    border-top: none;
    float: right; }
  .nav__links > li {
    float: left; }
  .nav__links > li > a {
    border-bottom: solid transparent 2px; }
  .nav__links > li > a:hover {
    border-bottom-color: #0375b4; }
  .nav__links > li.active > a {
    border-bottom-color: #0375b4; }
  .nav__social-links .social-link__img.social-link__img {
    margin: 5px 2px; }
  .nav__social-links .social-link__img--instagram i {
    width: 29.44px;
    height: 29.44px;
    border: 2.72px solid white;
    border-radius: 8.33px; }
  .nav__social-links .social-link__img--instagram i::before {
    width: 15.22px;
    height: 15.22px;
    border: 2.72px solid white;
    border-radius: 7.61px; }
  .nav__social-links .social-link__img--instagram i::after {
    top: 2.38px;
    right: 2.38px;
    width: 3.55px;
    height: 3.55px;
    border-radius: 1.77px; } }

/* For all devices */
.pagination.pagination {
  display: none;
  padding: 0; }

.pagination__item.pagination__item {
  display: inline-block;
  margin: 6px 4px;
  cursor: pointer;
  padding: 6px 12px;
  background-color: #0375b4;
  border: 1px solid #03659b;
  color: white; }

.pagination__item:hover {
  background-color: #03659b;
  border-color: #024469; }

.pagination__item.active,
.pagination__item.active:hover {
  background-color: #333;
  border-color: #2e2e2e; }

.slide-show {
  margin: 0 -15px;
  display: none; }

.slide-show__viewpoint {
  transition: all 1s ease-in-out;
  position: relative;
  overflow: hidden; }

.slide-show__viewpoint:hover {
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.3);
  cursor: pointer; }

.slide-show__slides-container {
  width: 100%;
  position: relative;
  left: 0;
  -webkit-transition: left 2s ease;
  -moz-transition: left 2s ease;
  -o-transition: left 2s ease;
  transition: left 2s ease;
  display: flex;
  align-items: center; }

.slide-show__slide-container {
  position: relative;
  margin: auto; }

.slide {
  max-width: 100%;
  max-height: 350px;
  transition: all 1s ease-in-out; }

.slide:hover {
  transform: scale(1.1); }

.slide-show__nav {
  width: 30px;
  height: 30px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: calc(50% - 15px);
  background: #333;
  box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.3); }

.slide-show__nav:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 0 20px 0 #333; }

.slide-show__nav-previous {
  left: 0;
  border-radius: 0 50% 50% 0; }

.slide-show__nav-next {
  right: 0;
  border-radius: 50% 0 0 50%; }

.slide-show__bullet {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: gray;
  margin: 14px 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  opacity: 0.3; }

.slide-show__bullet:hover {
  opacity: 0.6; }

.slide-show__bullet.active {
  opacity: 1;
  background-color: #333; }

.slide-show__bullet--blue.active {
  background-color: #0375b4; }

.slide-show__nav--blue {
  background-color: #0375b4; }

.slide-show__nav--blue:hover {
  box-shadow: 0 0 20px 0 #0375b4; }

.slide-show__bullet--red.active {
  background-color: #e52525; }

.slide-show__nav--red {
  background-color: #e52525; }

.slide-show__nav--red:hover {
  box-shadow: 0 0 20px 0 #e52525; }

.slide-show__bullet--orange.active {
  background-color: #e1a02f; }

.slide-show__nav--orange {
  background-color: #e1a02f; }

.slide-show__nav--orange:hover {
  box-shadow: 0 0 20px 0 #e1a02f; }

.slide-show__bullet--lime-green.active {
  background-color: #b5c82f; }

.slide-show__nav--lime-green {
  background-color: #b5c82f; }

.slide-show__nav--lime-green:hover {
  box-shadow: 0 0 20px 0 #b5c82f; }

.slide-show__bullet--green.active {
  background-color: #5cb85c; }

.slide-show__nav--green {
  background-color: #5cb85c; }

.slide-show__nav--green:hover {
  box-shadow: 0 0 20px 0 #5cb85c; }

.slide-show__bullet--purple.active {
  background-color: #80379b; }

.slide-show__nav--purple {
  background-color: #80379b; }

.slide-show__nav--purple:hover {
  box-shadow: 0 0 20px 0 #80379b; }

/* For all devices */
.social-links {
  background: #EEEEEE url("/assets/images/social.jpg") no-repeat center center scroll;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4); }

.social-links__header {
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 35px;
  font-weight: bold;
  line-height: 37px;
  margin: 10px 0 5px 0; }

.social-links__img.social-links__img {
  height: 50px;
  margin: 15px 3px; }

.social-links__img.social-link__img--instagram {
  width: 50px;
  -webkit-border-radius: 11.11px;
  -moz-border-radius: 11.11px;
  border-radius: 11.11px; }

.social-links__img.social-link__img--instagram i {
  width: 36.81px;
  height: 36.81px;
  border: 3.4px solid white;
  -webkit-border-radius: 10.42px;
  -moz-border-radius: 10.42px;
  border-radius: 10.42px; }

.social-links__img.social-link__img--instagram i::before {
  width: 19.03px;
  height: 19.03px;
  border: 3.4px solid white;
  -webkit-border-radius: 9.51px;
  -moz-border-radius: 9.51px;
  border-radius: 9.51px; }

.social-links__img.social-link__img--instagram i::after {
  top: 2.99px;
  right: 2.99px;
  width: 4.44px;
  height: 4.44px;
  -webkit-border-radius: 2.22px;
  -moz-border-radius: 2.22px;
  border-radius: 2.22px; }

/* Only for Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .social-links__header {
    margin: 15px 0 10px 0; }
  .social-links__img.social-links__img {
    height: 60px;
    margin: 20px 3px; }
  .social-links__img.social-link__img--instagram {
    width: 60px;
    -webkit-border-radius: 13.33px;
    -moz-border-radius: 13.33px;
    border-radius: 13.33px; }
  .social-links__img.social-link__img--instagram i {
    width: 44.16px;
    height: 44.16px;
    border: 4.08px solid white;
    -webkit-border-radius: 12.5px;
    -moz-border-radius: 12.5px;
    border-radius: 12.5px; }
  .social-links__img.social-link__img--instagram i::before {
    width: 22.83px;
    height: 22.83px;
    border: 4.08px solid white;
    -webkit-border-radius: 11.41px;
    -moz-border-radius: 11.41px;
    border-radius: 11.41px; }
  .social-links__img.social-link__img--instagram i::after {
    top: 3.58px;
    right: 3.58px;
    width: 5.33px;
    height: 5.33px;
    -webkit-border-radius: 2.66px;
    -moz-border-radius: 2.66px;
    border-radius: 2.66px; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .social-links {
    background-attachment: fixed; }
  .social-links__header {
    font-size: 40px;
    line-height: 42px;
    margin: 20px 0 25px 0; }
  .social-links__img.social-links__img {
    height: 70px;
    margin: 0 20px 25px 20px; }
  .social-links__img.social-link__img--instagram {
    width: 70px;
    -webkit-border-radius: 15.55px;
    -moz-border-radius: 15.55px;
    border-radius: 15.55px; }
  .social-links__img.social-link__img--instagram i {
    width: 51.52px;
    height: 51.52px;
    border: 4.76px solid white;
    -webkit-border-radius: 14.58px;
    -moz-border-radius: 14.58px;
    border-radius: 14.58px; }
  .social-links__img.social-link__img--instagram i::before {
    width: 26.63px;
    height: 26.63px;
    border: 4.76px solid white;
    -webkit-border-radius: 13.31px;
    -moz-border-radius: 13.31px;
    border-radius: 13.31px; }
  .social-links__img.social-link__img--instagram i::after {
    top: 4.18px;
    right: 4.18px;
    width: 6.22px;
    height: 6.22px;
    -webkit-border-radius: 3.11px;
    -moz-border-radius: 3.11px;
    border-radius: 3.11px; } }

/* For all devices */
.social-link__img {
  height: 40px;
  background-color: black;
  opacity: 1; }

.social-link__text {
  color: #333;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  display: inline-block; }

.social-link__img--email {
  border-radius: 50%; }

.social-link:hover .social-link__img--email {
  background-color: #0f7c10; }

.social-link:hover .social-link__text--email {
  color: #0f7c10;
  text-decoration: underline; }

.social-link:hover .social-link__img--linkedin {
  background-color: #007bb5; }

.social-link:hover .social-link__text--linkedin {
  color: #007bb5;
  text-decoration: underline; }

.social-link__img--github {
  border-radius: 50%; }

.social-link:hover .social-link__img--github {
  background-color: #E52525; }

.social-link:hover .social-link__text--github {
  color: #E52525;
  text-decoration: underline; }

.social-link:hover .social-link__text--instagram {
  color: #8a3ab9;
  text-decoration: underline; }

.social-link__img--instagram {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 8.88px;
  -moz-border-radius: 8.88px;
  border-radius: 8.88px;
  background: black;
  vertical-align: middle; }

.social-link:hover .social-link__img--instagram {
  background: -webkit-radial-gradient(32% 106%, circle cover, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%), -webkit-linear-gradient(-45deg, #234bd7 12%, #c33cbe 58%);
  background: -moz-radial-gradient(32% 106%, circle cover, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%), -moz-linear-gradient(-45deg, #234bd7 12%, #c33cbe 58%);
  background: -ms-radial-gradient(32% 106%, circle cover, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%), -ms-linear-gradient(-45deg, #234bd7 12%, #c33cbe 58%);
  background: -o-radial-gradient(32% 106%, circle cover, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%), -o-linear-gradient(-45deg, #234bd7 12%, #c33cbe 58%);
  background: radial-gradient(circle farthest-corner at 32% 106%, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%), linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4); }

.social-link__img--instagram i {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 29.44px;
  height: 29.44px;
  border: 2.72px solid white;
  -webkit-border-radius: 8.33px;
  -moz-border-radius: 8.33px;
  border-radius: 8.33px; }

.social-link__img--instagram i::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 15.22px;
  height: 15.22px;
  border: 2.72px solid white;
  -webkit-border-radius: 7.61px;
  -moz-border-radius: 7.61px;
  border-radius: 7.61px; }

.social-link__img--instagram i::after {
  content: "";
  top: 2.38px;
  right: 2.38px;
  position: absolute;
  width: 3.55px;
  height: 3.55px;
  background: white;
  -webkit-border-radius: 1.77px;
  -moz-border-radius: 1.77px;
  border-radius: 1.77px; }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .social-link__img {
    height: 50px; }
  .social-link__img--instagram {
    width: 50px;
    -webkit-border-radius: 11.11px;
    -moz-border-radius: 11.11px;
    border-radius: 11.11px; }
  .social-link__img--instagram i {
    width: 36.81px;
    height: 36.81px;
    border: 3.4px solid white;
    -webkit-border-radius: 10.42px;
    -moz-border-radius: 10.42px;
    border-radius: 10.42px; }
  .social-link__img--instagram i::before {
    width: 19.03px;
    height: 19.03px;
    border: 3.4px solid white;
    -webkit-border-radius: 9.51px;
    -moz-border-radius: 9.51px;
    border-radius: 9.51px; }
  .social-link__img--instagram i::after {
    top: 2.99px;
    right: 2.99px;
    width: 4.44px;
    height: 4.44px;
    -webkit-border-radius: 2.22px;
    -moz-border-radius: 2.22px;
    border-radius: 2.22px; } }

/* For all devices */
.modal {
  background-color: rgba(51, 51, 51, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10000;
  overflow-x: hidden;
  overflow-y: auto; }

.modal__content {
  background-color: white;
  border: gray solid 1px;
  max-width: 75%;
  overflow: hidden;
  margin: 40px auto;
  padding: 0 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4); }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .modal__content {
    max-width: 750px; } }

.workflow__item {
  width: 100%;
  margin-bottom: 10px; }

.workflow-item__image {
  width: 100%;
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4); }

.workflow-item__description {
  margin-top: 10px; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .workflow {
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .workflow__item {
    display: inline-block;
    width: calc(50% - 20px);
    margin: 0 10px 10px 10px; }
  .workflow-item__image {
    max-width: 120px; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .workflow__item {
    width: calc(33% - 20px); }
  .workflow-item__image {
    max-width: 150px; } }

.stats__item {
  width: 100%;
  margin-bottom: 14px; }

.article__header--stats {
  margin: 0; }

.stats__stat {
  margin: 0; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .stats {
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .stats__item {
    display: inline-block;
    width: calc(50% - 20px);
    margin: 0 10px 20px 10px; }
  .stats__item:last-child {
    margin-bottom: 0; }
  .stats__item:nth-last-child(2):nth-child(odd) {
    margin-bottom: 0; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .stats__item {
    width: calc(25% - 20px);
    margin: 0 10px; } }

/* For all devices */
.jumbotron--about {
  background-image: url("/assets/images/marmaris.jpg"); }

.about__skills.about__skills,
.about__interests.about__interests {
  padding-left: 0; }

.label {
  border: 1px solid #0d0d0d;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  margin: 2px;
  transition: all 0.4s ease-in-out;
  background-color: #333;
  color: white;
  cursor: auto; }

.label.label {
  margin: 2px; }

.label--blue {
  background-color: #0375b4;
  border: 1px solid #035691; }

.label--red {
  background-color: #e52525;
  border: 1px solid #c32424; }

.label--orange {
  background-color: #e1a02f;
  border: 1px solid #d2922e; }

.label--lime-green {
  background-color: #b5c82f;
  border: 1px solid #a6b930; }

.label--green {
  background-color: #5cb85c;
  border: 1px solid #54a754; }

.label--purple {
  background-color: #80379b;
  border: 1px solid #62357d; }

.js-expand-label {
  cursor: pointer; }

.expanded-label {
  display: block; }

.label__expand-icon {
  vertical-align: middle; }

.label__more_content {
  display: none;
  font-weight: 400; }

.article--about {
  font-weight: 700; }

.article--about img {
  width: 75%;
  max-width: 165px; }

.article--map {
  padding: 0; }

.map {
  height: 200px;
  width: 100%; }

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #e1a02f;
  top: 0;
  bottom: 0;
  left: 30px;
  margin-left: -3px;
  border-radius: 50%; }

.timeline__item {
  position: relative;
  padding: 10px 30px;
  padding-left: 60px;
  padding-right: 25px;
  text-align: left; }

.timeline__item:last-child {
  padding-bottom: 0; }

.timeline-item__content {
  padding: 8px;
  background-color: #eee;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.1);
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: left;
  display: inline-block;
  margin-top: 4px; }

.timeline-item__content::before {
  content: " ";
  position: absolute;
  width: 0;
  left: -10px;
  border: medium solid #eee;
  border-width: 10px 10px 10px 0;
  border-color: transparent #eee transparent transparent;
  top: 50%;
  margin-top: -10px;
  z-index: 1; }

.timeline-item__content::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: white;
  border: 4px solid gray;
  top: 50%;
  margin-top: -10px;
  border-radius: 50%;
  z-index: 1;
  left: -45px;
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 22px;
  color: gray;
  text-align: center; }

.timeline-item__content--school::after {
  content: "\f19d"; }

.timeline-item__content--coding::after {
  content: "\f121"; }

.timeline-item__content--baby::after {
  content: "\f1a1"; }

.timeline-item__content--work::after {
  content: "\f108"; }

.timeline-item__content--football::after {
  content: "\f1e3"; }

.timelime-item__content--childhood::after {
  content: "\f1b3"; }

.timeline-item__content--food::after {
  content: "\f0f5"; }

.timeline-item__content--film::after {
  content: "\f008"; }

.timeline__item--active .timeline-item__content::after {
  color: #e1a02f;
  border-color: #e1a02f;
  box-shadow: 0 0 10px 0 #e1a02f; }

.timeline-item__content p {
  margin: 0; }

.timeline__date {
  font-weight: 700;
  font-style: italic; }

.about__images-of-me {
  position: relative;
  width: 75%;
  max-width: 165px;
  margin: auto; }

.about__images-of-me .image-of-me {
  width: 100%;
  transition: all 0.4s ease-in-out; }

.image-of-me--grown {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%; }

.about__images-of-me:hover .image-of-me--baby {
  opacity: 0; }

.about__images-of-me:hover .image-of-me--grown {
  opacity: 1; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .map {
    height: 250px; }
  .timeline::after {
    left: 50%; }
  .timeline__item {
    padding: 10px 40px;
    width: 50%; }
  .timeline__item:nth-child(even) {
    text-align: right; }
  .timeline__item:nth-child(odd) {
    margin-left: 50%; }
  .timeline-item__content::after {
    width: 34px;
    height: 34px;
    border-bottom-width: 4px;
    left: 17px;
    line-height: 28px;
    font-size: 18px; }
  .timeline__item:nth-child(even) .timeline-item__content::before {
    right: -12px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #f5f5f5;
    left: auto; }
  .timeline__item:nth-child(odd) .timeline-item__content::before {
    left: -12px;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent; }
  .timeline__item:nth-child(even) .timeline-item__content::after {
    right: -58px;
    left: auto;
    margin-top: -17px; }
  .timeline__item:nth-child(odd) .timeline-item__content::after {
    left: -58px;
    margin-top: -17px; }
  .timeline-item__content {
    max-width: 75%; }
  .timeline__item:nth-child(even) .timeline-item__content {
    text-align: right; } }

/*
  ADMIN CSS START
 */
/* For all devices */
.admin-page {
  background-color: #f5f5f5;
  margin: auto;
  text-align: center; }

.login-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.login-form {
  width: 100%;
  max-width: 330px;
  margin: auto; }

.drop-zone {
  z-index: -10;
  opacity: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.6);
  -webkit-transition: opacity 1s ease-in-out, z-index 0s ease-in-out;
  -moz-transition: opacity 1s ease-in-out, z-index 0s ease-in-out;
  -o-transition: opacity 1s ease-in-out, z-index 0s ease-in-out;
  transition: opacity 1s ease-in-out, z-index 0s ease-in-out; }

.drop-zone__text {
  margin: auto;
  color: white; }

.btn--add-project,
.btn--send-project {
  display: block;
  margin: 0 auto 5px auto; }

.btn--delete-project,
.btn--edit-project {
  margin: 0 auto 5px auto; }

.btn--send-project {
  margin-right: 0; }

.btn--back {
  display: block;
  margin-left: 0;
  margin-top: 5px; }

.select-project-form > div > * {
  vertical-align: middle;
  margin: 5px; }

.project-images-uploads {
  margin: 10px 0; }

.upload {
  margin: 10px auto;
  padding: 5px;
  border-radius: 6px;
  background-color: white; }

.upload--success {
  border: solid #0375b4; }

.upload--success * {
  display: inline-block;
  vertical-align: middle; }

.upload--success img {
  max-width: 100%;
  max-height: 200px; }

.upload--failed {
  border: solid #d71a1a;
  color: #e52525; }

.feedback--user-form,
.feedback--project-form,
.feedback--select-project {
  padding: 5px;
  display: block; }

.feedback--user-form {
  text-align: center;
  margin: 5px;
  color: #e52525; }

.select-project-container {
  display: none; }

.project-form-container {
  display: none; }

.project-images {
  padding: 0; }

.project-image {
  width: 100%;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
  margin: 5px 0;
  position: relative;
  list-style: none; }

.project-image > img {
  max-width: 100%;
  max-height: 200px;
  height: auto; }

.btn--edit-project {
  display: inline-block; }

.btn--delete-project {
  display: inline-block; }

.btn--delete-project-img {
  position: absolute;
  top: 0;
  right: 0;
  margin: 7px;
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.19); }

.pagination--admin {
  display: block; }

.skill-input-group {
  position: relative; }

.skill-input {
  margin: 0;
  width: 100%; }

.skill-add {
  position: absolute;
  right: 0;
  margin: 0;
  top: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 7px 12px; }

.admin-project-skill {
  position: relative;
  border: 1px solid #262626;
  border-radius: 5px;
  padding: 2px 4px;
  display: inline-block;
  margin: 2px;
  transition: all 0.4s ease-in-out;
  background-color: #333;
  color: white;
  cursor: auto; }

.admin-project-skill--blue {
  background-color: #0375b4;
  border-color: #035691; }

.admin-project-skill--red {
  background-color: #e52525;
  border-color: #c32424; }

.admin-project-skill--orange {
  background-color: #e1a02f;
  border-color: #d2922e; }

.admin-project-skill--lime-green {
  background-color: #b5c82f;
  border-color: #a6b930; }

.admin-project-skill--green {
  background-color: #5cb85c;
  border-color: #54a754; }

.admin-project-skill--purple {
  background-color: #80379b;
  border-color: #62357d; }

.delete-skill {
  margin: 2px;
  padding: 0;
  background-color: transparent;
  border: none; }

.delete-skill:hover,
.delete-skill:active {
  background-color: transparent; }

/* For tablets and some are for desktops */
@media only screen and (min-width: 768px) {
  .project-images-uploads,
  .project-form-container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto; } }

/* For desktops */
@media only screen and (min-width: 1200px) {
  .project-image {
    width: calc(50% - 5px);
    display: inline-block; }
  .project-image:nth-child(odd) {
    margin: 0 5px 10px 0; }
  .project-image:nth-child(even) {
    margin: 0 0 10px 5px; }
  .project-image:last-child {
    margin-bottom: 0; }
  .project-image:nth-last-child(2):nth-child(odd) {
    margin-bottom: 0; }
  .project-image:last-child:nth-child(odd) {
    margin-right: 0; }
  .skill-add {
    padding: 10px 12px; } }

/*
    ADMIN CSS END
*/
/* For all devices */
.jumbotron--contact {
  background-image: url("/assets/images/contact.jpg"); }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .contact-form {
    margin: auto;
    max-width: 439px; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .contact-form {
    max-width: 800px; }
  .contact-form > .input-group {
    width: 49.7%;
    display: inline-block;
    vertical-align: top; }
  .contact-form > .input-group--message {
    width: 100%; } }

/* For all devices */
.jumbotron--home {
  background-image: url("/assets/images/working.jpg"); }

.article--home-hello,
.article--home-intro {
  font-weight: 700;
  color: #0375b4;
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.6);
  font-size: 18px;
  line-height: 20px; }

.article--home-hello {
  position: relative;
  padding-bottom: 75px; }

.article--home-intro {
  padding-top: 75px; }

.image-of-me--home {
  width: 66%;
  max-width: 150px;
  box-shadow: 0 0 10px 0 #333;
  position: absolute;
  transform: translateX(-50%); }

.main-hello {
  font-size: 28px;
  line-height: 30px; }

.home__hello-logo {
  width: 66%;
  max-width: 150px;
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
  transition: 1s opacity ease;
  border-radius: 50%;
  box-shadow: none; }

.home__hello-logo:hover {
  opacity: 1; }

#slide-show--projects-preview {
  margin: 0;
  width: 100%; }

#slide-show--projects-preview .slide-show__viewpoint:hover {
  box-shadow: none;
  cursor: initial; }

#slide-show--projects-preview .slide {
  opacity: 0;
  transition: all 2s ease-in-out; }

#slide-show--projects-preview .active .slide {
  opacity: 1; }

.slide-show__project-description {
  background-color: #333;
  color: white;
  padding: 10px 35px;
  cursor: initial;
  transition: all 2s ease-in-out;
  opacity: 0; }

.slide-show__project-description--blue {
  background-color: #0375b4; }

.slide-show__project-description--red {
  background-color: #e52525; }

.slide-show__project-description--orange {
  background-color: #e1a02f; }

.slide-show__project-description--lime-green {
  background-color: #b5c82f; }

.slide-show__project-description--green {
  background-color: #5cb85c; }

.slide-show__project-description--purple {
  background-color: #80379b; }

.active .slide-show__project-description {
  opacity: 1; }

.project-description__links .btn {
  transition: all 0.3s ease-in-out;
  font-weight: 700; }

#slide-show--projects-preview .slide:hover {
  transform: scale(1); }

#slide-show--projects-preview .project-date, #slide-show--projects-preview .project-title {
  width: 100%;
  white-space: nowrap; }

.counter {
  font-weight: 700; }

/* Only for Tablets */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .article--home-hello,
  .article--home-intro {
    font-size: 22px;
    line-height: 24px; }
  .article--home-hello {
    padding-bottom: 100px; }
  .article--home-intro {
    padding-top: 100px; }
  .main-hello {
    font-size: 34px;
    line-height: 36px; }
  .image-of-me--home {
    width: 50%;
    max-width: 200px; }
  .slide-show__project-description-container {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; }
  .slide-show__project-description {
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 5px;
    transform: translateY(100%);
    padding: 10px; }
  .active .slide-show__project-description {
    transform: translateY(0); }
  .project-description__text {
    display: none; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .article--home-hello,
  .article--home-intro {
    font-size: 26px;
    line-height: 30px; }
  .article--home-hello {
    padding-bottom: 110px; }
  .article--home-intro {
    padding-top: 110px; }
  .main-hello {
    font-size: 38px;
    line-height: 40px; }
  .image-of-me--home {
    width: 25%;
    max-width: 220px; }
  #slide-show--projects-preview .slide-show__slide-container {
    display: flex; }
  #slide-show--projects-preview .slide {
    max-width: 50%;
    margin: auto; }
  .slide-show__project-description-container {
    position: relative;
    height: auto;
    width: 50%; }
  .slide-show__project-description {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    transition: all 3s ease-in-out;
    padding: 0 40px; }
  #slide-show--projects-preview .project-date {
    margin-left: 25px; }
  .project-description__text {
    display: block; } }

.social-links-page {
  margin-bottom: 0; }

.social-link-container {
  margin: 5px;
  padding: 15px;
  display: inline-block; }

.social-link-container--snapchat {
  display: block;
  max-width: 200px;
  margin: auto; }

.social-link__img--facebook {
  border-radius: 5px; }

.social-link:hover .social-link__text--facebook {
  color: #3b5998;
  text-decoration: underline; }

.social-link:hover .social-link__img--facebook {
  background: #3b5998; }

.social-link__img--twitter {
  border-radius: 50%; }

.social-link:hover .social-link__text--twitter {
  color: #55acee;
  text-decoration: underline; }

.social-link:hover .social-link__img--twitter {
  background: #55acee; }

.social-link__img--snapchat {
  width: 100%;
  height: auto;
  border-radius: 15%;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.social-link:hover .social-link__img--snapchat {
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4);
  cursor: pointer;
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }

.social-link__text--snapchat {
  color: white;
  background-color: black;
  padding: 4px;
  border-radius: 6px; }

.social-link:hover .social-link__text--snapchat {
  color: #fffc00; }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .social-links-page > .container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .social-link-container--snapchat {
    width: calc(33% - 10px);
    max-width: 200px;
    margin: 5px; }
  .social-link__img--snapchat {
    max-width: 200px; } }

/* For all devices */
.jumbotron--projects {
  background-image: url("/assets/images/projects.jpg"); }

.search-form {
  margin-bottom: 20px; }

.search-input-group {
  position: relative; }

.search-input {
  margin: 0;
  width: 100%; }

.search-submit {
  position: absolute;
  right: 0;
  margin: 0;
  top: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 7px 12px; }

.project {
  background-color: white;
  padding: 0 15px;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
  margin-top: 10px;
  border: 1px solid #eee;
  border-radius: 5px; }

.project-date--modal {
  margin-left: auto; }

.description {
  text-align: left; }

.skill {
  border: 1px solid #333;
  border-radius: 2px;
  padding: 5px;
  color: #333;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  transition: all 0.4s ease-in-out; }

.skill:hover {
  background-color: #333;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4);
  color: white; }

.skill.searched {
  background-color: #2e2e2e;
  color: white; }

.skill--blue {
  border: 1px solid #0375b4;
  color: #0375b4; }

.skill--blue:hover {
  background-color: #035691; }

.skill--blue.searched {
  background-color: #03427d; }

.skill--red {
  border: 1px solid #e52525;
  color: #e52525; }

.skill--red:hover {
  background-color: #c32424; }

.skill--red.searched {
  background-color: #af2323; }

.skill--orange {
  border: 1px solid #e1a02f;
  color: #e1a02f; }

.skill--orange:hover {
  background-color: #d2922e; }

.skill--orange.searched {
  background-color: #c88c2e; }

.skill--lime-green {
  border: 1px solid #b5c82f;
  color: #b5c82f; }

.skill--lime-green:hover {
  background-color: #a6b930; }

.skill--lime-green.searched {
  background-color: #91a42f; }

.skill--green {
  border: 1px solid #5cb85c;
  color: #5cb85c; }

.skill--green:hover {
  background-color: #54a754; }

.skill--green.searched {
  background-color: #4b944b; }

.skill--purple {
  border: 1px solid #80379b;
  color: #80379b; }

.skill--purple:hover {
  background-color: #62357d; }

.skill--purple.searched {
  background-color: #4e3469; }

.pagination--projects.pagination--projects {
  margin-top: 20px; }

.project__link {
  position: relative;
  color: #333;
  display: inline-block;
  margin-right: 10px; }

.project__link:after {
  content: "";
  margin: 0 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: gray; }

.project__link:last-child {
  margin-right: 0; }

.project__link:last-child:after {
  content: none; }

.project__link:hover {
  color: black; }

.project__link--blue {
  color: #0375b4; }

.project__link--blue:hover {
  color: #035691; }

.project__link--red {
  color: #e52525; }

.project__link--red:hover {
  color: #c32424; }

.project__link--orange {
  color: #e1a02f; }

.project__link--orange:hover {
  color: #d2922e; }

.project__link--lime-green {
  color: #b5c82f; }

.project__link--lime-green:hover {
  color: #a6b930; }

.project__link--green {
  color: #5cb85c; }

.project__link--green:hover {
  color: #54a754; }

.project__link--purple {
  color: #80379b; }

.project__link--purple:hover {
  color: #62357d; }

.expanded-slide-show {
  z-index: -100;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  background-color: #f5f5f5;
  opacity: 0;
  transition: all 1s ease-in-out; }

.expanded-slide-show__controls {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: black;
  color: white;
  width: 100%;
  bottom: 0;
  padding: 0 15px; }

.expanded-slide-show__bullets {
  width: 33%; }

.expanded-image-slide-show__bullet {
  margin: 5px; }

.expanded-image-slide-show__bullet.active {
  background: white; }

.expanded-slide-show__navs {
  width: 33%;
  text-align: left; }

.expanded-slide-show__nav {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  height: 28px;
  width: 28px;
  cursor: pointer; }

.expanded-slide-show__nav:hover {
  opacity: 1; }

.expanded-slide-show.active {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 10000; }

.expanded-slide-show.hiding {
  z-index: 10000; }

.expanded-image-container {
  width: calc(100% - 20px);
  height: calc(100% - 55px);
  position: absolute;
  display: flex;
  left: 10px;
  top: 20px; }

.expanded-image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.3);
  transition: all 1s ease-in-out;
  opacity: 0; }

.expanded-image.current {
  opacity: 1; }

.expanded-slide-show__close {
  position: absolute;
  right: 0;
  height: 30px;
  width: 30px;
  padding: 0; }

.expanded-slide-show__counter {
  margin: 0;
  width: 33%;
  text-align: right; }

.expanded-slide-show__counter span {
  font-weight: 700; }

.project__read-more {
  padding: 5px;
  border-radius: 30px 0 0 30px;
  margin-top: 0;
  position: relative;
  border: none;
  margin-right: 28px; }

.project__read-more:after {
  position: absolute;
  top: 0;
  bottom: 0;
  font-family: FontAwesome;
  font-size: 30px;
  line-height: 26px;
  color: white;
  text-align: center;
  content: '\f0a9';
  background: #333;
  left: 100%;
  border-radius: 0 30px 30px 0; }

.project__read-more:hover::after {
  background: #262626; }

.project__read-more--blue::after {
  background: #0375b4; }

.project__read-more--blue:hover::after {
  background: #035691; }

.project__read-more--red::after {
  background: #e52525; }

.project__read-more--red:hover::after {
  background: #c32424; }

.project__read-more--orange::after {
  background: #e1a02f; }

.project__read-more--orange:hover::after {
  background: #d2922e; }

.project__read-more--lime-green::after {
  background: #b5c82f; }

.project__read-more--lime-green:hover::after {
  background: #a6b930; }

.project__read-more--green::after {
  background: #5cb85c; }

.project__read-more--green:hover::after {
  background: #54a754; }

.project__read-more--purple::after {
  background: #80379b; }

.project__read-more--purple:hover::after {
  background: #62357d; }

.read-more__icon {
  margin-left: 4px; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .search-form {
    max-width: 439px;
    margin-left: auto;
    margin-right: auto; }
  .projects {
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .project {
    width: calc(50% - 5px); }
  .project:nth-child(odd) {
    margin-right: 5px; }
  .project:nth-child(even) {
    margin-left: 5px; }
  .project:last-child:nth-child(odd) {
    margin-right: 0; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .search-form {
    margin-bottom: 40px; }
  .search-submit {
    padding: 10px 12px; }
  .pagination--projects.pagination--projects {
    margin-top: 40px; } }

.jumbotron--500 {
  background-image: url("/assets/images/500.jpg"); }

.jumbotron--401,
.jumbotron--403,
.jumbotron--404 {
  background-image: url("/assets/images/mistake.jpg"); }

.article--error img {
  width: 75%;
  max-width: 165px; }

.site-map-list {
  text-align: left;
  width: 100%;
  color: #333; }

/* For Tablets & Desktops */
@media only screen and (min-width: 768px) {
  .site-map-list.site-map-list {
    width: 50%;
    margin-left: auto;
    margin-right: auto; } }

/* Only for Desktops */
@media only screen and (min-width: 1200px) {
  .site-map-list.site-map-list {
    width: 25%; } }
