/* For all devices */
button, [type=button], [type=submit] {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
}

.btn {
    margin: 7px;
    width: auto;
    padding: 8px 15px;
    @include border-radius(2px);
    border: solid 1px colour(blue, dark);
    color: white;
    background-color: colour(blue, main);
}

.btn:hover, .btn:focus {
    background-color: colour(blue, hover);
}

.btn:disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
}

@each $color, $colors in $colors {
    .btn--#{$color} {
        background-color: map-get($colors, main);
        border-color: map-get($colors, dark);
    }

    .btn--#{$color}:hover, .btn--#{$color}:focus {
        background-color: map-get($colors, hover);
    }
}

.btn--clear {
    background-color: transparent;
    border-color: white;
}

.btn--clear:hover, .btn--clear:focus, .btn--clear:active, .btn--clear:active:hover, .btn--clear:active:focus {
    background-color: white;
    color: $dark;
}

a.btn {
    margin: 5px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
}