/* For all devices */
.footer {
    background-color: $light;
    color: $grey;
    border-top: 1px solid $light-grey;
    padding: 10px;
}

.footer__links, .footer__legal {
    display: inline-block;
    width: 100%;
}

.footer__link:after {
    content: "|";
    color: $dark;
    margin: 0 4px;
}

.footer__link:last-child:after {
    content: none;
}

.footer__link {
    position: relative;
    color: $primary-color;
}

.footer__link:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: calc(100% - 12px);
    border-bottom: transparent solid 1px;
    @include transition(.3s);
}

.footer__link:hover {
    color: darken($primary-color, 15%);
}

.footer__link:hover:before {
    border-bottom-color: darken($primary-color, 15%);
}

.footer__link:last-child:before {
    width: 100%;
}

/* Only for Desktops */
@media only screen and (min-width: $desktop) {
    .footer > .container {
        @include flexbox();
        @include flexboxCenterAlign();
    }

    .footer__links {
        width: 50%;
        text-align: left;
    }

    .footer__legal {
        width: 50%;
        text-align: right;
    }
}