/* For all devices */
label {
    margin: 5px 0 0 0;
    font-weight: 700;
    display: inline-block;
}

.required {
    color: colour(red, main);
}

.feedback {
    font-weight: 700;
    margin: 0;
    display: none;
}

.feedback--success {
    color: $success;
}

.feedback--error {
    color: $error;
}