/* For all devices */
.input {
    padding: 6px 12px;
    margin: 5px auto;
    width: 100%;
    border: solid #E0E0E0 1px;
    @include border-radius(2px);
    color: $dark;
    outline: none;
    background: white;
}

.input::placeholder {
    color: $grey;
}

.input:focus {
    @include box-shadow(0 0 8px $primary-color);
    border-color: $primary-color;
}

.input.invalid {
    border-color: $error;
}

.input:focus.invalid {
    border-color: $error;
    @include box-shadow(0 0 8px transparentize($error, .4));
}

/* Only for Desktops */
@media only screen and (min-width: $desktop) {
    .input {
        padding: 9px 14px;
    }
}