/* For all devices */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparentize($dark-colour, 0.4);
}

.modal__content {
    max-width: 90%;
    margin: 40px auto;
    padding: 15px;
    background-color: white;
    border: $grey solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.6);
    overflow: hidden;
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .modal__content {
        max-width: 75%;
    }
}

/* For Desktops */
@media only screen and (min-width: $desktop-width) {
    .modal__content {
        max-width: 750px;
    }
}
