/* For all devices */
.social-links {
    background: #eeeeee url("/assets/images/social.jpg?v=2") no-repeat center center scroll;
    background-size: cover;
    padding: 10px;
    box-shadow: 0 0 10px 0 transparentize($dark, 0.6);
}

.social-links__header {
    color: white;
    text-shadow: 2px 2px 3px black;
    font-size: 35px;
    font-weight: bold;
    line-height: 37px;
    margin: 10px 0 5px 0;
}

.social-links__img.social-links__img {
    height: 50px;
    margin: 15px 3px;
}

.social-links__img.social-link__img--instagram {
    width: 50px;
    border-radius: 11.11px;
}

.social-links__img.social-link__img--instagram i {
    width: 36.81px;
    height: 36.81px;
    border: 3.4px solid white;
    border-radius: 10.42px;
}

.social-links__img.social-link__img--instagram i::before {
    width: 19.03px;
    height: 19.03px;
    border: 3.4px solid white;
    border-radius: 9.51px;
}

.social-links__img.social-link__img--instagram i::after {
    top: 2.99px;
    right: 2.99px;
    width: 4.44px;
    height: 4.44px;
    border-radius: 2.22px;
}

/* Only for Tablets & Desktops */
@media only screen and (min-width: $tablet) {
    .social-links__header {
        margin: 15px 0 10px 0;
    }

    .social-links__img.social-links__img {
        height: 60px;
        margin: 20px 3px;
    }

    .social-links__img.social-link__img--instagram {
        width: 60px;
        border-radius: 13.33px;
    }

    .social-links__img.social-link__img--instagram i {
        width: 44.16px;
        height: 44.16px;
        border: 4.08px solid white;
        border-radius: 12.5px;
    }

    .social-links__img.social-link__img--instagram i::before {
        width: 22.83px;
        height: 22.83px;
        border: 4.08px solid white;
        border-radius: 11.41px;
    }

    .social-links__img.social-link__img--instagram i::after {
        top: 3.58px;
        right: 3.58px;
        width: 5.33px;
        height: 5.33px;
        border-radius: 2.66px;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop) {
    .social-links {
        background-attachment: fixed;
    }

    .social-links__header {
        font-size: 40px;
        line-height: 42px;
        margin: 20px 0 25px 0;
    }

    .social-links__img.social-links__img {
        height: 70px;
        margin: 0 20px 25px 20px;
    }

    .social-links__img.social-link__img--instagram {
        width: 70px;
        border-radius: 15.55px;
    }

    .social-links__img.social-link__img--instagram i {
        width: 51.52px;
        height: 51.52px;
        border: 4.76px solid white;
        border-radius: 14.58px;
    }

    .social-links__img.social-link__img--instagram i::before {
        width: 26.63px;
        height: 26.63px;
        border: 4.76px solid white;
        border-radius: 13.31px;
    }

    .social-links__img.social-link__img--instagram i::after {
        top: 4.18px;
        right: 4.18px;
        width: 6.22px;
        height: 6.22px;
        border-radius: 3.11px;
    }
}
