<!DOCTYPE html>
<html lang="en" ng-app="projectsAdmin">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Jahidul Pabel Islam">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin</title>

        <!-- Bootstrap stylesheet-->
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/lib/css/main.css" />

        <!-- The stylesheet for the site -->
        <link rel="stylesheet" type="text/css" href="lib/css/admin.css" />

        <!-- The favicon for the site -->
        <link rel="icon" href="/images/favicon.png">
    </head>

    <body ng-controller="projectsAdminController">

        <section>
            <div class="container">

                <div id="selectProjectContainer">

                    <div id="selectProjectForm">
                        <div ng-repeat="project in projects">
                            <label ng-click="selectProject(project)" for="{{project.ID}}">{{project.Name}}</label>
                            <input ng-click="selectProject(project)" type="radio" id="{{project.ID}}" name="project"
                                   value="{{project.ID}}">
                        </div>
                    </div>

                    <p id="selectProjectFeedback" class="feedback error">{{selectProjectFeedback}}</p>

                    <div id="selectProjectButtons">
                        <button ng-show="projects.length > 0" ng-click="setUpEditProject()" id="editButton" type="button"
                                value="Edit"
                                class="btn btn-primary" tabindex="3">Edit
                        </button>
                        <button ng-show="projects.length > 0" ng-click="deleteProject()" id="deleteButton" type="button"
                                value="Delete" class="btn btn-danger" tabindex="4">Delete
                        </button>
                        <button ng-click="setUpAddProject()" id="addButton" type="button" value="Add Another Project"
                                class="btn btn-success" tabindex="5">
                            Add A Project
                        </button>
                    </div>
                    <div id="pagination" ng-show="pages.length > 1">
                        <ul class="pagination">
                            <li ng-show="currentPage !== 1"><a ng-click="getProjectList(currentPage - 1)">Previous</a></li>
                            <li ng-repeat="page in pages" ng-class="{'active': page == currentPage}"><a
                                    ng-click="getProjectList(page)">{{page}}</a></li>
                            <li ng-show="currentPage !== pages.length"><a ng-click="getProjectList(currentPage + 1)">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="projectFormContainer">
                    <button ng-click="getProjectList(1)" id="backButton" type="button" value="Log In" class="btn btn-warning"
                            tabindex="6">Back
                    </button>

                    <form id="projectForm" ng-submit="submitProject()">
                        <label for="projectName">Project Name <span class="required">*</span></label>
                        <input ng-model="selectedProject.Name" type="text" name="projectName" id="projectName"
                               class="form-control" placeholder="myproject"
                               tabindex="7" oninput="checkInputField(this);" required>
                        <label for="skills">Skills <span class="required">*</span></label>
                        <input ng-model="selectedProject.Skills" type="text" name="skills" id="skills" class="form-control"
                               placeholder="skill1, skill2"
                               tabindex="8" oninput="checkInputField(this);" required>
                        <label for="longDescription">Long Description <span class="required">*</span></label>
                        <textarea ng-model="selectedProject.LongDescription" name="description" id="longDescription"
                                  class="form-control" placeholder="description"
                                  tabindex="9" oninput="checkInputField(this);" required rows="10"></textarea>
                        <label for="shortDescription">Short Description <span class="required">*</span></label>
                        <textarea ng-model="selectedProject.ShortDescription" name="description" id="shortDescription"
                                  class="form-control" placeholder="description"
                                  tabindex="9" oninput="checkInputField(this);" required rows="10"></textarea>

                        <label for="link">Link</label>
                        <input ng-model="selectedProject.Link" type="text" name="link" id="link" class="form-control"
                               placeholder="link" tabindex="10">
                        <label for="github">GitHub <span class="required">*</span></label>
                        <input ng-model="selectedProject.GitHub" type="url" name="github" id="github" class="form-control"
                               placeholder="github" tabindex="11"
                               oninput="checkInputField(this);" required>
                        <label for="download">Download</label>
                        <input ng-model="selectedProject.Download" type="text" name="download" id="download"
                               class="form-control" placeholder="download"
                               tabindex="12">
                        <label for="date">Date <span class="required">*</span></label>
                        <input ng-model="selectedProject.Date" type="date" name="date" id="date" class="form-control"
                               placeholder="2016-01-30" tabindex="13"
                               oninput="checkInputField(this);" required>

                        <p id="projectFormFeedback" class="feedback error">{{projectFormFeedback}}</p>

                        <button id="projectButton" type="submit" value="Add Project" class="btn btn-success" tabindex="14">
                            {{selectedProject.ID ? 'Update Project' : 'Add Project'}}
                        </button>

                    </form>

                    <ul id="projectImages">
                        <li ng-repeat="picture in selectedProject.pictures" id="{{picture.File}}">
                            <img src="{{picture.File}}">
                            <button ng-click="deleteProjectImage(picture)" class="btn btn-danger deleteProjectImg">X</button>
                        </li>
                    </ul>

                    <input ng-show="selectedProject.ID" type="file" name="imageUpload" id="imageUpload" class="form-control" multiple accept="image/*" tabindex="15">

                    <!-- Div containing the uploads -->
                    <div id="uploads"></div>
                </div>
            </div>
        </section>

        <!-- The drag and drop area -->
        <section id="dropZone"><h1>Drag And Drop Image Here To Upload A Slide for Project</h1></section>

        <section id="userFormDiv">
            <div class="container">
                <form id="userForm" ng-submit="logIn()">
                    <label for="username">Username</label>
                    <input ng-model="username" type="text" name="username" id="username" placeholder="myusername" autofocus
                           class="form-control"
                           tabindex="1" oninput="checkInputField(this);" required>
                    <label for="password">Password</label>
                    <input ng-model="password" type="password" name="password" id="password" placeholder="mypassword"
                           class="form-control"
                           tabindex="2" oninput="checkInputField(this);" required>
                    <!-- Where the feedback will go if any error -->
                    <p id="userFormFeedback" class="feedback error">{{userFormFeedback}}</p>
                    <button id="logInButton" type="submit" value="Log In" class="btn btn-success">Log In</button>
                </form>
            </div>
        </section>

        <!-- The Scripts -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- the script needed for any helper functions -->
        <script type="text/javascript" src="/lib/js/helperFunctions.js"></script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

        <!-- the script for the page -->
        <script type="text/javascript" src="lib/js/ui.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>

        <!-- Script to expand page -->
        <script type="text/javascript" src="/lib/js/stickyFooter.js"></script>
    </body>
</html>