<!DOCTYPE html>
<html lang="en" ng-app="projectsAdmin">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Jahidul Pabel Islam">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin</title>

        <link rel="stylesheet" type="text/css" href="/lib/css/main.min.css" />

        <!-- Favicons/Icons for devices -->
        <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png?v=1">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-60x60.png?v=1">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png?v=1">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png?v=1">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png?v=1">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png?v=1">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png?v=1">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?v=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?v=1">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png?v=1">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png?v=1">
        <link rel="manifest" href="/images/site.webmanifest?v=1">
        <link rel="mask-icon" href="/images/safari-pinned-tab.svg?v=1" color="#0375b4">
        <link rel="shortcut icon" href="/images/favicon.ico?v=1">
        <meta name="msapplication-TileColor" content="#f5f5f5">
        <meta name="msapplication-TileImage" content="/images/mstile-144x144.png?v=1">
        <meta name="msapplication-config" content="/images/browserconfig.xml?v=1">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body ng-controller="projectsAdminController" id="admin">

        <section>
            <div class="container">

                <div id="selectProjectContainer">

                    <div id="selectProjectForm">
                        <div ng-repeat="project in projects">
                            <label ng-click="selectProject(project)" for="{{project.ID}}">{{project.Name}}</label>
                            <input ng-click="selectProject(project)" type="radio" id="{{project.ID}}" name="project" value="{{project.ID}}">
                        </div>
                    </div>

                    <p id="selectProjectFeedback" class="feedback error">{{selectProjectFeedback}}</p>

                    <div id="selectProjectButtons">
                        <button ng-if="projects.length > 0" ng-click="setUpEditProject()" id="editButton" type="button" value="Edit" class="btn btn-primary" tabindex="3">Edit</button>
                        <button ng-if="projects.length > 0" ng-click="deleteProject()" id="deleteButton" type="button" value="Delete" class="btn btn-danger" tabindex="4">Delete</button>
                        <button ng-click="setUpAddProject()" id="addButton" type="button" value="Add Another Project" class="btn btn-success" tabindex="5">Add A Project</button>
                    </div>
                    <div class="pagination--admin" ng-show="pages.length > 1">
                        <ul class="pagination">
                            <li ng-repeat="page in pages" ng-class="{'active': page == currentPage}"><a ng-click="getProjectList(page)">{{page}}</a></li>
                        </ul>
                    </div>
                </div>

                <div id="projectFormContainer">
                    <button ng-click="getProjectList(1)" id="backButton" type="button" value="Back" class="btn btn-warning" tabindex="6">Back
                    </button>

                    <form id="projectForm" ng-submit="submitProject()">
                        <label for="projectName">Project Name <span class="required">*</span></label>
                        <input ng-model="selectedProject.Name" type="text" name="projectName" id="projectName" class="form-control" placeholder="myproject" tabindex="7" oninput="checkInputField(this);" required>
                        <label for="skills">Skills <span class="required">*</span></label>
                        <input ng-model="selectedProject.Skills" type="text" name="skills" id="skills" class="form-control" placeholder="skill1, skill2" tabindex="8" oninput="checkInputField(this);" required>
                        <label for="longDescription">Long Description <span class="required">*</span></label>
                        <textarea ng-model="selectedProject.LongDescription" name="description" id="longDescription" class="form-control" placeholder="description" tabindex="9" oninput="checkInputField(this);" required rows="10"></textarea>
                        <label for="shortDescription">Short Description <span class="required">*</span></label>
                        <textarea ng-model="selectedProject.ShortDescription" name="description" id="shortDescription" class="form-control" placeholder="description" tabindex="9" oninput="checkInputField(this);" required rows="10"></textarea>

                        <label for="link">Link</label>
                        <input ng-model="selectedProject.Link" type="text" name="link" id="link" class="form-control" placeholder="link" tabindex="10">
                        <label for="github">GitHub <span class="required">*</span></label>
                        <input ng-model="selectedProject.GitHub" type="url" name="github" id="github" class="form-control" placeholder="github" tabindex="11" oninput="checkInputField(this);" required>
                        <label for="download">Download</label>
                        <input ng-model="selectedProject.Download" type="text" name="download" id="download" class="form-control" placeholder="download" tabindex="12">
                        <label for="date">Date <span class="required">*</span></label>
                        <input ng-model="selectedProject.Date" type="date" name="date" id="date" class="form-control" placeholder="2016-01-30" tabindex="13" oninput="checkInputField(this);" required>

                        <p id="projectFormFeedback" class="feedback error">{{projectFormFeedback}}</p>

                        <button id="projectButton" type="submit" value="Add Project" class="btn btn-success" tabindex="14">{{selectedProject.ID ? 'Update Project' : 'Add Project'}}</button>
                    </form>

                    <ul id="projectImages" ui-sortable ng-model="selectedProject.pictures" class="ui-state-default">
                        <li ng-repeat="picture in selectedProject.pictures" id="{{picture.File}}">
                            <img src="{{picture.File}}">
                            <button ng-click="deleteProjectImage(picture)" class="btn btn-danger deleteProjectImg">X</button>
                        </li>
                    </ul>

                    <input ng-if="selectedProject.ID" data-file-Upload type="file" name="imageUpload" id="imageUpload" class="form-control" multiple accept="image/*" tabindex="15">

                    <!-- Div containing the uploads -->
                    <div id="uploads">
                        <div ng-repeat="upload in uploads" ng-class="upload.ok == true ? 'aUpload' : 'failedUpload'">
                            <p>{{upload.text}}</p>
                            <img ng-if="upload.ok == true" src="{{upload.image}}">
                            <button ng-if="upload.ok == true" ng-click="sendImage(upload.file)" class="btn btn-danger">Upload This Picture</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- The drag and drop area -->
        <section id="dropZone"><h1 class="dropZone__text">Drag And Drop Image Here To Upload A Slide for Project</h1></section>

        <section id="userFormDiv">
            <div class="container">
                <form id="userForm" ng-submit="logIn()">
                    <label for="username">Username</label>
                    <input ng-model="username" type="text" name="username" id="username" placeholder="myusername" autofocus class="form-control" tabindex="1" oninput="checkInputField(this);" required>
                    <label for="password">Password</label>
                    <input ng-model="password" type="password" name="password" id="password" placeholder="mypassword" class="form-control" tabindex="2" oninput="checkInputField(this);" required>
                    <!-- Where the feedback will go if any error -->
                    <p id="userFormFeedback" class="feedback error">{{userFormFeedback}}</p>
                    <button id="logInButton" type="submit" value="Log In" class="btn btn-success">Log In</button>
                </form>
            </div>
        </section>

        <!-- The Scripts -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="/lib/js/main.min.js"></script>

        <!-- The third party script needed for the page for the sorting of pictures -->
        <script type="text/javascript" src="/lib/js/third-party/jquery-ui.min.js"></script>

        <!-- The third party script needed for the page for the sorting of pictures -->
        <script type="text/javascript" src="/lib/js/third-party/sortable.js"></script>

        <!-- the script for the page -->
        <script type="text/javascript" src="/lib/js/admin.js"></script>
    </body>
</html>