/* For all devices */
.jumbotron--about {
    background-image: url("/images/marmaris.jpg");
}

.about__skills.about__skills, .about__interests.about__interests {
    padding-left: 0;
}

.about__skills li {
    border: 1px solid $primary-color;
    @include border-radius(5px);
    padding: 5px;
    display: inline-block;
    margin: 2px;
    @include transition(.4s);
    background-color: colour(blue, main);
    color: white;
    cursor: auto;
}

.about__interests li {
    background-color: colour(green, main);
    @include border-radius(5px);
    padding: 5px;
    color: white;
    display: inline-block;
    margin: 2px;
}

.article--about {
    font-weight: 700;
}

.article--about img {
    width: 75%;
    max-width: 165px;
}

.image-of-me {
    @include border-radius(50%);
}