/* For all devices */
.jumbotron--contact {
    background-image: url("/assets/images/contact.jpg?v=2");
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .contact-form {
        margin: auto;
        max-width: 439px;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .contact-form {
        max-width: 800px;
    }

    .contact-form > .input-group {
        display: inline-block;
        width: 49.7%;
        vertical-align: top;
    }

    .contact-form > .input-group--message {
        width: 100%;
    }
}
