/* For all devices */
.jumbotron--contact {
    background-image: url("/images/contact.jpg");
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet) {
    .contact-form {
        margin: auto;
        max-width: 439px;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop) {
    .contact-form {
        max-width: 800px;
    }

    .contact-form > .input-group {
        width: 49.7%;
        display: inline-block;
        vertical-align: top;
    }

    .contact-form > .input-group--message {
        width: 100%;
    }
}