.jumbotron--500 {
    background-image: url("/assets/images/500.jpg");
}

.jumbotron--401,
.jumbotron--403,
.jumbotron--404  {
    background-image: url("/assets/images/mistake.jpg");
}

.article--error img
{
    width: 75%;
    max-width: 165px;
}