/* For all devices */
.jumbotron--home {
    background-image: url("/assets/images/working.jpg");
}

.article--home-hello, .article--home-intro {
    font-weight: 700;
    text-shadow: 1px 1px 2px transparentize($grey, 0.4);
    font-size: 18px;
    line-height: 20px;
}

.article--home-hello {
    position: relative;
    padding-bottom: 75px;
}

.article--home-intro {
    padding-top: 75px;
}

.image-of-me--home {
    width: 66%;
    max-width: 150px;
    @include box-shadow(0 0 10px 0 $dark);
    position: absolute;
    transform: translateX(-50%);
}

.main-hello {
    font-size: 28px;
    line-height: 30px;
}

#slide-show--projects-preview {
    margin: 0;
    width: 100%;
}

#slide-show--projects-preview .slide-show__viewpoint:hover {
    @include box-shadow(none);
    cursor: initial;
}

#slide-show--projects-preview  .slide {
    opacity: 0;
    @include transition(2s);
}

#slide-show--projects-preview  .active .slide {
    opacity: 1;
}

.slide-show__project-description {
    background-color: $dark;
    color: white;
    padding: 10px 35px;
    cursor: initial;
    @include transition(2s);
    opacity: 0;
}

@each $color, $colors in $colors {
    .slide-show__project-description--#{$color} {
        background-color: map-get($colors, main);
    }
}

.active .slide-show__project-description {
    opacity: 1;
}

.project-description__links .btn {
    @include transition(.3s);
    font-weight: 700;
}

#slide-show--projects-preview .slide:hover {
    @include transform(scale(1));
}

#slide-show--projects-preview .project-date, #slide-show--projects-preview .project-title {
    width: 100%;
    white-space: nowrap;
}

/* Only for Tablets */
@media only screen and (min-width: $tablet) and (max-width: $desktop) {
    .article--home-hello, .article--home-intro {
        font-size: 22px;
        line-height: 24px;
    }

    .article--home-hello {
        padding-bottom: 100px;
    }

    .article--home-intro {
        padding-top: 100px;
    }

    .main-hello {
        font-size: 34px;
        line-height: 36px;
    }

    .image-of-me--home {
        width: 50%;
        max-width: 200px;
    }

    .slide-show__project-description-container {
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        @include flexbox();
        @include flexboxCenterAlign();
        @include flexboxJustifyCenter();
    }

    .slide-show__project-description {
        background-color: transparentize($dark, .2);
        @include border-radius(5px);
        @include transform(translateY(100%));
        padding: 10px;
    }

    .active .slide-show__project-description {
        @include transform(translateY(0));
    }

    .project-description__text{
        display: none;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop) {
    .article--home-hello, .article--home-intro {
        font-size: 26px;
        line-height: 30px;
    }

    .article--home-hello {
        padding-bottom: 110px;
    }

    .article--home-intro {
        padding-top: 110px;
    }

    .main-hello {
        font-size: 38px;
        line-height: 40px;
    }

    .image-of-me--home {
        width: 25%;
        max-width: 220px
    }

    #slide-show--projects-preview .slide-show__slide-container {
        display: flex;
    }

    #slide-show--projects-preview .slide {
        max-width: 50%;
        margin: auto;
    }

    .slide-show__project-description-container {
        position: relative;
        height: auto;
        width: 50%;
    }

    .slide-show__project-description {
        height: 100%;
        width: 100%;
        @include flexbox();
        @include flexboxCenterAlign();
        @include flexboxJustifyCenter();
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        @include transition(3s);
        padding: 0 40px;
    }

    #slide-show--projects-preview .project-date {
        margin-left: 25px;
    }

    .project-description__text {
        display: block;
    }
}
