/* For all devices */
.jumbotron--projects {
    background-image: url("/assets/images/projects.jpg");
}

.search-form {
    margin-bottom: 20px;
}

.search-input-group {
    position: relative;
}

.search-input {
    margin: 0;
    width: 100%;
}

.search-submit {
    position: absolute;
    right: 0;
    margin: 0;
    top: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 7px 12px;
}

.project {
    background-color: white;
    padding: 0 15px;
    @include box-shadow(0 0 10px 0 transparentize($dark, .8));
    margin-top: 10px;
    border: 1px solid $light-grey;
    @include border-radius(5px);
}

.project-date--modal {
    margin-left: auto;
}

.description {
    text-align: left;
}

.skill {
    border: 1px solid $dark;
    @include border-radius(2px);
    padding: 5px;
    color: $dark;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    @include transition(.4s);
}

.skill:hover {
    background-color: $dark;
    @include box-shadow(0 0 10px 0 transparentize($dark, .6));
    color: white;
}

.skill.searched {
    background-color: darken($dark, 2%);
    color: white;
}

@each $color, $colors in $colors {
    .skill--#{$color} {
        border: 1px solid map-get($colors, main);
        color: map-get($colors, main);
    }

    .skill--#{$color}:hover {
        background-color: map-get($colors, hover);
    }

    .skill--#{$color}.searched {
        background-color: map-get($colors, dark);
    }
}

.pagination--projects.pagination--projects {
    margin-top: 20px;
}

.project__link {
    position: relative;
    color: $dark;
    display: inline-block;
    margin-right: 10px;
}

.project__link:after {
    content: "";
    margin: 0 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: $grey;
}

.project__link:last-child {
    margin-right: 0;
}

.project__link:last-child:after {
    content: none;
}

.project__link:hover {
    color: black;
}

@each $color, $colors in $colors {
    .project__link--#{$color} {
        color: map-get($colors, main);
    }

    .project__link--#{$color}:hover {
        color: map-get($colors, hover);
    }
}

.expanded-image-slide-show {
    z-index: -100;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    background-color: $light;
    opacity: 0;
    @include transition(1s);
}

.expanded-image-slide-show__controls {
    @include flexbox();
    @include flexboxCenterAlign();
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    bottom: 0;
    padding: 0 15px;
}

.expanded-image-slide-show__bullets {
    width: 33%;
}

.expanded-image-slide-show__bullet {
    margin: 5px;
}

.expanded-image-slide-show__bullet.active {
    background: white;
}

.expanded-image-slide-show__navs {
    width: 33%;
    text-align: left;
}

.expanded-image-slide-show__nav {
    opacity: 0.8;
    @include transition(.3s);
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.expanded-image-slide-show__nav:hover {
    opacity: 1;
}

.expanded-image-slide-show.active {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 10000;
}

.expanded-image-slide-show.hiding {
    z-index: 10000;
}

.expanded-image-container {
    width: calc(100% - 20px);
    height: calc(100% - 55px);
    position: absolute;
    @include flexbox();
    left: 10px;
    top: 20px;
}

.expanded-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    @include box-shadow(0 0 10px 0 transparentize($dark, .7));
    @include transition(1s);
    opacity: 0;
}

.expanded-image.current {
    opacity: 1;
}

.expanded-image-slide-show__close {
    position: absolute;
    right: 0;
    height: 30px;
    width: 30px;
    padding: 0;
}

.expanded-image-slide-show__counter {
    margin: 0;
    width: 33%;
    text-align: right;
}

.expanded-image-slide-show__counter span {
    font-weight: 700;
}

.project__read-more {
    padding: 5px;
    border-radius: 30px 0 0 30px;
    margin-top: 0;
    position: relative;
    border: none;
    margin-right: 28px;
}

.project__read-more:after {
    position: absolute;
    top: 0;
    bottom: 0;
    font-family: FontAwesome;
    font-size: 30px;
    line-height: 26px;
    color: white;
    text-align: center;
    content: '\f0a9';
    background: $dark;
    left: 100%;
    border-radius: 0 30px 30px 0;
}

.project__read-more:hover::after {
    background: darken($dark, 5%);
}

@each $color, $colors in $colors {

    .project__read-more--#{$color}::after {
        background: map-get($colors, main);
    }

    .project__read-more--#{$color}:hover::after {
        background: map-get($colors, hover);
    }
}



.read-more__icon {
    margin-left: 4px;
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet) {
    .search-form {
        max-width: 439px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop) {

    .projects {
        @include flexbox();
        @include flexboxJustifyCenter();
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .project {
        width: calc(50% - 5px);
    }

    .project:nth-child(odd) {
        margin-right: 5px;
    }

    .project:nth-child(even) {
        margin-left: 5px;
    }

    .project:last-child:nth-child(odd) {
        margin-right: 0;
    }

    .search-form {
        margin-bottom: 40px;
    }

    .search-submit {
        padding: 10px 12px;
    }

    .pagination--projects.pagination--projects {
        margin-top: 40px;
    }
}