.site-map__list {
    text-align: left;
    width: 100%;
    color: $dark-colour;
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .site-map__list.site-map__list {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .site-map__list.site-map__list {
        width: 25%;
    }
}
