/* For all devices */
.footer {
    background-color: $light-colour;
    color: $grey;
    border-top: 1px solid $light-grey;
    padding: 6px;
}

.footer p {
    margin: 5px auto;
}

.footer__links,
.footer__legal,
.footer__version {
    display: inline-block;
    width: 100%;
}

.footer__link:after {
    content: "|";
    color: $grey;
    margin: 0 4px;
}

.footer__link:last-child:after {
    content: none;
}

.footer__link {
    position: relative;
    color: $dark-colour;
}

.footer__link:before {
    content: "\00a0";
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 12px);
    height: 1px;
    border-bottom: transparent solid 1px;
    transition: all 0.3s ease-in-out;
}

.footer__link:hover {
    color: darken($dark-colour, 10%);
}

.footer__link:hover:before {
    border-bottom-color: darken($dark-colour, 10%);
}

.footer__link:last-child:before {
    width: 100%;
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .footer {
        padding: 10px;
    }

    .footer > .container {
        display: flex;
        align-items: center;
    }

    .footer p {
        margin: 10px 0;
    }

    .footer__links {
        width: 33%;
        text-align: left;
        order: 1;
    }

    .footer__legal {
        width: 33%;
        text-align: right;
        order: 3;
    }

    .footer__version {
        width: 33%;
        text-align: center;
        order: 2;
    }
}
