.project__header {
    display: flex;
    margin: 0 0 10px 0;
    align-items: center;
}

.project__title {
    margin: 0;
    text-align: left;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.project__date {
    margin: 0 0 0 auto;
    text-align: right;
}
