.slide-show {
    display: none;
    margin: 0 -15px;
}

.slide-show__viewpoint {
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.slide-show__viewpoint:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.7);
}

.slide-show__slides-container {
    display: flex;
    position: relative;
    width: 100%;
    left: 0;
    align-items: center;
    transition: left 2s ease;
}

.slide-show__slide {
    position: relative;
    margin: auto;
}

.slide-show__img {
    max-width: 100%;
    max-height: 350px;
    transition: all 1s ease-in-out;
}

.slide-show__img:hover {
    transform: scale(1.1);
}

.slide-show__nav-button {
    position: absolute;
    top: calc(50% - 15px);
    padding: 0;
}

.slide-show__nav--prev-button {
    left: 0;
}

.slide-show__nav--next-button {
    right: 0;
}

.slide-show__nav {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    background: get-colour(black, main);
    box-shadow: 0 0 20px 0 transparentize(get-colour(black, main), 0.7);
    transition: all 0.3s ease-in-out;
}

.slide-show__nav:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 0 20px 0 $dark-colour;
}

.slide-show__nav-previous {
    border-radius: 0 50% 50% 0;
}

.slide-show__nav-next {
    border-radius: 50% 0 0 50%;
}

.slide-show__bullets {
    margin: 15px auto;
}

.slide-show__bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: auto 8px;
    border-radius: 50%;
    background-color: darken($light-grey, 5);
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.slide-show__bullet:not(.active):hover {
    background-color: darken($light-grey, 15);
    transform: scale(1.05);
}

.slide-show__bullet.active {
    opacity: 1;
    background-color: get-colour(black, dark);
}

@each $colour, $colours in $colour-schemes {
    .slide-show__bullet--#{$colour}.active {
        background-color: map-get($colours, main);
        transform: scale(1.2);
    }

    .slide-show__nav--#{$colour} {
        background-color: map-get($colours, main);
    }

    .slide-show__nav--#{$colour}:hover {
        box-shadow: 0 0 20px 0 map-get($colours, main);
    }
}
