/* For all devices */
.social-link__image {
    height: 40px;
    background-color: black;
    opacity: 1;
}

.social-link__text {
    display: inline-block;
    color: $dark-colour;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.social-link__image--email {
    border-radius: 50%;
}

.social-link:hover .social-link__image--email {
    background-color: $email-colour;
}

.social-link:hover .social-link__text--email {
    color: $email-colour;
    text-decoration: underline;
}

.social-link:hover .social-link__image--linkedin {
    background-color: $linkedin-colour;
}

.social-link:hover .social-link__text--linkedin {
    color: $linkedin-colour;
    text-decoration: underline;
}

.social-link__image--github {
    border-radius: 50%;
}

.social-link:hover .social-link__image--github {
    background-color: $github-colour;
}

.social-link:hover .social-link__text--github {
    color: $github-colour;
    text-decoration: underline;
}

.social-link:hover .social-link__text--instagram {
    color: $instagram-purple-colour;
    text-decoration: underline;
}

// Based on styling from https://codepen.io/anon/pen/xdXNjw
.social-link__image--instagram {
    display: inline-block;
    position: relative;
    background: black;
    vertical-align: middle;
}

.social-link:hover .social-link__image--instagram {
    background: radial-gradient(
            circle farthest-corner at 32% 106%,
            #ffe17d 0%,
            #ffcd69 10%,
            #fa9137 28%,
            #eb4141 42%,
            transparent 82%
        ),
        linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
    box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4);
}

.social-link__image--instagram i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.social-link__image--instagram i::before {
    content: "\00a0";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.social-link__image--instagram i::after {
    content: "\00a0";
    position: absolute;
    background: white;
}

@include insta-logo(".social-link__image--instagram", 40);


.social-link__image--facebook {
    border-radius: 5px;
}

.social-link:hover .social-link__text--facebook {
    color: $facebook-colour;
    text-decoration: underline;
}

.social-link:hover .social-link__image--facebook {
    background: $facebook-colour;
}

.social-link__image--twitter {
    border-radius: 50%;
}

.social-link:hover .social-link__text--twitter {
    color: $twitter-colour;
    text-decoration: underline;
}

.social-link:hover .social-link__image--twitter {
    background: $twitter-colour;
}

.social-link__image--snapchat {
    width: 100%;
    height: auto;
    border-radius: 15%;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.social-link:hover .social-link__image--snapchat {
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.6);
    cursor: pointer;
    filter: grayscale(0);
}

.social-link__text--snapchat {
    padding: 4px;
    border-radius: 6px;
    background-color: black;
    color: white;
}

.social-link:hover .social-link__text--snapchat {
    color: $snapchat-colour;
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .social-link__image {
        height: 50px;
    }

    @include insta-logo(".social-link__image--instagram", 50);

    .social-link__image--snapchat {
        max-width: 200px;
    }
}
