/* For all devices */
.social-link__image {
    height: 40px;
    background-color: #000000;
    opacity: 1;
}

.social-link__text {
    display: inline-block;
    color: $dark-colour;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}
.social-link:hover .social-link__text,
.social-link:focus .social-link__text {
    text-decoration: underline;
}

.social-link--email .social-link__image {
    border-radius: 50%;
}

.social-link--email:hover .social-link__image,
.social-link--email:focus .social-link__image {
    background-color: $email-colour;
}

.social-link--email:hover .social-link__text,
.social-link--email:focus .social-link__text {
    color: $email-colour;
}

.social-link--linkedin:hover .social-link__image,
.social-link--linkedin:focus .social-link__image {
    background-color: $linkedin-colour;
}

.social-link--linkedin:hover .social-link__text,
.social-link--linkedin:focus .social-link__text {
    color: $linkedin-colour;
}

.social-link--github .social-link__image {
    border-radius: 50%;
}

.social-link--github:hover .social-link__image,
.social-link--github:focus .social-link__image {
    background-color: $github-colour;
}

.social-link--github:hover .social-link__text,
.social-link--github:focus .social-link__text {
    color: $github-colour;
}

.social-link--instagram:hover .social-link__text ,
.social-link--instagram:focus .social-link__text {
    color: $instagram-purple-colour;
}

// Based on styling from https://codepen.io/anon/pen/xdXNjw
.social-link--instagram .social-link__image {
    display: inline-block;
    position: relative;
    background: #000000;
    vertical-align: middle;
}

.social-link--instagram:hover .social-link__image,
.social-link--instagram:focus .social-link__image {
    background: radial-gradient(
            circle farthest-corner at 32% 106%,
            #ffe17d 0%,
            #ffcd69 10%,
            #fa9137 28%,
            #eb4141 42%,
            transparent 82%
        ),
        linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
    box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4);
}

.social-link--instagram .social-link__image i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.social-link--instagram .social-link__image i::before {
    content: "\00a0";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.social-link--instagram .social-link__image i::after {
    content: "\00a0";
    position: absolute;
    background: #ffffff;
}

.social-link--instagram .social-link__image {
    @include insta-logo(40);
}

.social-link--facebook .social-link__image {
    border-radius: 5px;
}

.social-link--facebook:hover .social-link__text,
.social-link--facebook:focus .social-link__text {
    color: $facebook-colour;
}

.social-link--facebook:hover .social-link__image,
.social-link--facebook:focus .social-link__image {
    background: $facebook-colour;
}

.social-link--twitter .social-link__image {
    border-radius: 50%;
}

.social-link--twitter:hover .social-link__text,
.social-link--twitter:focus .social-link__text {
    color: $twitter-colour;
}

.social-link--twitter:hover .social-link__image,
.social-link--twitter:focus .social-link__image {
    background: $twitter-colour;
}

.social-link--snapchat .social-link__image {
    width: 100%;
    height: auto;
    border-radius: 15%;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.social-link--snapchat:hover .social-link__image,
.social-link--snapchat:focus .social-link__image {
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.6);
    cursor: pointer;
    filter: grayscale(0);
}

.social-link--snapchat .social-link__text {
    padding: 4px;
    border-radius: 6px;
    background-color: #000000;
    color: #ffffff;
}

.social-link--snapchat:hover .social-link__text,
.social-link--snapchat:focus .social-link__text {
    color: $snapchat-colour;
    text-decoration: none;
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .social-link__image {
        height: 50px;
    }

    .social-link--instagram .social-link__image {
        @include insta-logo(50);
    }

    .social-link--snapchat .social-link__image {
        max-width: 200px;
        height: auto;
    }
}
