.stats__item {
    width: 100%;
    margin-bottom: 14px;
}
.stats__item:last-child {
    margin-bottom: 0;
}

.stats__heading {
    margin: 0;
}

.stats__text {
    margin: 0;
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .stats {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .stats__item {
        display: inline-block;
        width: calc(50% - 20px);
        margin: 0 10px 20px;
    }

    .stats__item:nth-last-child(2):nth-child(odd) {
        margin-bottom: 0;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .stats__item {
        width: calc(25% - 20px);
        margin: 0 10px;
    }
}
