/* For all devices */
.about-row {
    font-weight: 700;
}

.images-of-me {
    position: relative;
    width: 75%;
    max-width: 165px;
    margin: auto;
}

.images-of-me__image.images-of-me__image {
    width: 100%;
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.6);
    transition: all 0.4s ease-in-out;
    border-radius: 50%;
}

.images-of-me__image.images-of-me__image--grown {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

.images-of-me:hover .images-of-me__image--baby {
    opacity: 0;
}
.images-of-me:hover .images-of-me__image--grown {
    opacity: 1;
}

.map {
    width: 100%;
    height: 200px;
}

.skills-interests.skills-interests {
    padding-left: 0;
}

.skills-interests__item {
    display: inline-block;
    padding: 5px;
    border: 1px solid get-colour(black, main);
    border-radius: 5px;
    background-color: get-colour(black, main);
    color: get-colour(black, text, white);
    cursor: auto;
    transition: all 0.4s ease-in-out;
}
.skills-interests__item.skills-interests__item {
    margin: 2px;
}

.skills-interests__item p {
    display: inline-block;
    margin: 0;
}

.skills-interests__item--expandable {
    cursor: pointer;
}
.skills-interests__item--expandable:hover {
    background-color: get-colour(black, hover);
    border-color: get-colour(black, hover);
}

@each $colour, $colours in $colour-schemes {
    .skills-interests__item--#{$colour} {
        background-color: map-get($colours, main);
        border-color: map-get($colours, main);
        color: get-colour-variant($colours, text, white);
    }

    .skills-interests__item--#{$colour}.skills-interests__item--expandable:hover {
        background-color: map-get($colours, hover);
        border-color: map-get($colours, hover);
    }
}

.skills-interests__expand-icon {
    vertical-align: middle;
}

.skills-interests__expand-content {
    display: none;
    font-weight: 400;
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .map {
        height: 250px;
    }
}
