/* For all devices */
.social-links-page {
    margin-bottom: 0;
}

.social-link-container {
    display: block;
    margin: 5px;
    padding: 15px;
}

.social-link-container--snapchat {
    max-width: 200px;
    margin: auto;
}

/* Only for Desktops */
@media only screen and (min-width: 400px) {
    .social-link-container {
        display: inline-block;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .social-links-page > .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-link-container--snapchat {
        width: calc(33% - 10px);
        max-width: 200px;
        margin: 5px;
    }
}
