/* For all devices */
.social-links-page {
    margin-bottom: 0;
}

.social-link-container {
    display: block;
    margin: 5px;
    padding: 15px;
}

.social-link-container--snapchat {
    display: block;
    max-width: 200px;
    margin: auto;
}

.social-link__img--facebook {
    border-radius: 5px;
}

.social-link:hover .social-link__text--facebook {
    color: $facebook-colour;
    text-decoration: underline;
}

.social-link:hover .social-link__img--facebook {
    background: $facebook-colour;
}

.social-link__img--twitter {
    border-radius: 50%;
}

.social-link:hover .social-link__text--twitter {
    color: $twitter-colour;
    text-decoration: underline;
}

.social-link:hover .social-link__img--twitter {
    background: $twitter-colour;
}

.social-link__img--snapchat {
    width: 100%;
    height: auto;
    border-radius: 15%;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.social-link:hover .social-link__img--snapchat {
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.6);
    cursor: pointer;
    filter: grayscale(0);
}

.social-link__text--snapchat {
    padding: 4px;
    border-radius: 6px;
    background-color: black;
    color: white;
}

.social-link:hover .social-link__text--snapchat {
    color: $snapchat-colour;
}

/* Only for Desktops */
@media only screen and (min-width: 400px) {
    .social-link-container {
        display: inline-block;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .social-links-page > .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-link-container--snapchat {
        width: calc(33% - 10px);
        max-width: 200px;
        margin: 5px;
    }

    .social-link__img--snapchat {
        max-width: 200px;
    }
}
