/* For all devices */
.input-group {
    margin-bottom: 10px;
    padding: 0 2px;
}

.input {
    width: 100%;
    margin: 5px auto;
    padding: 6px 12px;
    border: solid #e0e0e0 1px;
    border-radius: 2px;
    background: #ffffff;
    color: $dark-colour;
    font: inherit;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.input::placeholder {
    color: #cdcdcd;
}

.input:focus {
    box-shadow: 0 0 8px $primary-colour;
    border-color: $primary-colour;
}

.input--invalid {
    border-color: $error-colour;
}

.input--invalid:focus {
    border-color: $error-colour;
    box-shadow: 0 0 8px transparentize($error-colour, 0.4);
}

.input--valid {
    border-color: $success-colour;
}

.input--valid:focus {
    border-color: $success-colour;
    box-shadow: 0 0 8px transparentize($success-colour, 0.4);
}

.styled-checkbox .input {
    display: none;
}

.styled-checkbox__pseudo {
    position: relative;
    margin-left: 20px;
}

.styled-checkbox__pseudo::before {
    content: "\00a0";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background: #ffffff;
    border: 2px solid $grey;
    transition: all 0.3s ease-in-out;
}

.input:checked + .styled-checkbox__pseudo::before {
    content: "\2714";
    padding: 1px 2px;
    background-color: $primary-colour;
    border-color: $primary-colour;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
}

.label {
    display: inline-block;
    margin: 5px 0 0;
    font-weight: 700;

    span {
        font-weight: 400;
    }
}

.notice {
    color: get-colour(red, main);
    font-weight: 700;
}

.feedback {
    display: none;
    width: 100%;
    margin: 0;
    font-weight: 700;
}

.feedback--success {
    color: $success-colour;
}

.feedback--error {
    color: $error-colour;
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .input {
        padding: 9px 14px;
    }

    .input-group {
        display: inline-block;
        width: 49.7%;
        vertical-align: top;
    }

    .input-group--full {
        width: 100%;
    }
}
