.project {
    margin-top: 24px;
    padding: 0 15px 15px;
    border: 1px solid $light-grey;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.8);
}

.project:first-child {
    margin-top: 0;
}

.project__header,
.project__meta {
    display: flex;
    align-items: center;
}

.project__header {
    margin: 8px 0 0;
}
.project__meta {
    margin: 0 0 15px;
}

.project__title {
    width: 100%;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    text-align: left;
}

.project__date {
    width: 100%;
    margin: 0 0 0 auto;
    font-size: 14px;
    text-align: right;
    color: lighten($dark-colour, 25);
}

.project__type {
    width: 100%;
    margin: 15px 0 0;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}
@each $colour, $colours in $colour-schemes {
    .project__type--#{$colour} {
        color: map-get($colours, main);
    }
}

.project__skills {
    margin: 15px 0;
}

.project__skill {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    border: 1px solid get-colour(black, main);
    border-radius: 2px;
    color: get-colour(black, main);
    font-weight: 400;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    transition-property: border-color, background-color, color, box-shadow;
}

.project__skill:hover,
.project__skill:focus {
    border-color: get-colour(black, hover);
    background-color: get-colour(black, hover);
    color: get-colour(black, text, #ffffff);
    box-shadow: 0 0 10px 0 transparentize(get-colour(black, main), 0.6);
}

.project__skill--searched,
.project__skill--searched:hover,
.project__skill--searched:focus {
    border-color: get-colour(black, dark);
    background-color: get-colour(black, dark);
    color: get-colour(black, text, #ffffff);
}

.project__skill--searched:hover,
.project__skill--searched:focus {
    box-shadow: none;
}

@each $colour, $colours in $colour-schemes {
    .project__skill--#{$colour} {
        border-color: map-get($colours, main);
        color: map-get($colours, main);
    }

    .project__skill--#{$colour}:hover,
    .project__skill--#{$colour}:focus {
        border-color: map-get($colours, hover);
        background-color: map-get($colours, hover);
        color: get-colour-variant($colours, text, #ffffff);
        box-shadow: 0 0 10px 0 transparentize(map-get($colours, main), 0.6);
    }

    .project__skill--#{$colour}.project__skill--searched,
    .project__skill--#{$colour}.project__skill--searched:hover,
    .project__skill--#{$colour}.project__skill--searched:focus {
        border-color: map-get($colours, dark);
        background-color: map-get($colours, dark);
        color: get-colour-variant($colours, text, #ffffff);
        box-shadow: none;
    }
}

.project__description {
    text-align: left;
    margin-top: 15px;
}

.project__description > p:first-child {
    margin-top: 0;
}
.project__description > p:last-child {
    margin-bottom: 0;
}

.project__slide-show {
    margin: 0 -15px;
}

.project .slide-show__viewport {
    border-radius: 10px 10px 0 0;
}

.project__footer {
    display: flex;
    margin: 15px 0 0;
    justify-content: space-between;
}

.project__link {
    display: inline-block;
    position: relative;
    margin: 0 12px;
    color: get-colour(black, main);
}
.project__link:first-child {
    margin-left: 0;
}
.project__link:last-child {
    margin-right: 0;
}

.project__link:hover,
.project__link:focus {
    color: get-colour(black, hover);
}

.project__link::after {
    content: "\00a0";
    position: absolute;
    top: 25%;
    height: 50%;
    width: 2px;
    margin: 0 12px;
    background: transparentize($grey, 0.8);
}
.project__link:last-child::after {
    content: none;
}

@each $colour, $colours in $colour-schemes {
    .project__link--#{$colour} {
        color: map-get($colours, main);
    }

    .project__link--#{$colour}:hover,
    .project__link--#{$colour}:focus {
        color: map-get($colours, hover);
    }
}

.project__read-more {
    position: relative;
    margin: 0 36px 0 auto;
    padding: 5px 5px 5px 12px;
    border: 0;
    border-radius: 30px 0 0 30px;
    font-weight: 700;
}

.project__read-more::after {
    content: "\f35a";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    background: get-colour(black, main);
    font-family: "Font Awesome 5 Free";
    font-size: 36px;
    line-height: 32px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    border-radius: 0 30px 30px 0;
    transition: background-color 0.2s ease-in-out;
}

.project__read-more:hover::after,
.project__read-more:focus::after {
    background-color: get-colour(black, hover);
}

@each $colour, $colours in $colour-schemes {
    .project__read-more--#{$colour}::after {
        background-color: map-get($colours, main);
    }

    .project__read-more--#{$colour}:hover::after,
    .project__read-more--#{$colour}:focus::after {
        background-color: map-get($colours, hover);
    }
}

// Project details modal
.detailed-project .project__links {
    margin: 15px 0;
}

.detailed-project .project__type {
    margin: 0;
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .project {
        width: calc(50% - 10px);
    }

    .project:nth-child(2) {
        margin-top: 0;
    }

    .project:nth-child(odd) {
        margin-right: 10px;
    }

    .project:nth-child(even) {
        margin-left: 10px;
    }

    .project:last-child:nth-child(odd) {
        margin-right: 0;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .project {
        width: calc(33% - 14px);
    }

    .project:nth-child(3) {
        margin-top: 0;
    }

    .project:nth-child(1),
    .project:nth-child(4n) {
        margin-right: 14px;
        margin-left: 0;
    }
    .project:nth-child(2),
    .project:nth-child(5n) {
        margin-right: 7px;
        margin-left: 7px;
    }
    .project:nth-child(3n) {
        margin-right: 0;
        margin-left: 14px;
    }

    .project__read-more::after {
        font-size: 40px;
        line-height: 33px;
    }
}
