/* For all devices */
.about-row {
    font-weight: 700;
}

.map {
    width: 100%;
    height: 200px;
}

.about-row--skills {
    .row__column {
        margin: 12px 0;
        padding: 0 15px;
    }

    .row__sub-heading {
        display: inline-block;
        width: auto;
        padding: 8px;
        margin: 0 auto;
        background: $light-colour;
        color: $dark-colour;
        border-radius: 12px 12px 0 0;
    }
}

.skills.skills {
    margin: 0;
    padding-left: 0;
    background: $light-colour;
    color: $dark-colour;
    border-radius: 5px;
    text-align: left;
    list-style: none;
}

.skills__item {
    padding: 5px 10px;
    cursor: auto;
    font-weight: 400;
    transition: all 0.4s ease-in-out;

    &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.skills__item.skills__item {
    margin: 0;
}

.skills__item p {
    display: inline-block;
    margin: 0;
}

.skills__item--expandable {
    cursor: pointer;
}
.skills__item--expandable:hover {
    background-color: $brand-light-colour;
    border-color: $brand-light-colour;
    color: #fff;
}

.skills__toggle {
    vertical-align: middle;
}

.skills__description {
    display: none;
}

@media only screen and (min-width: $tablet-width) {
    .map {
        height: 250px;
    }
}

@media only screen and (min-width: $desktop-width) {
    .about-row--skills {
       .container {
           align-items: flex-start;
       }

        .row__column {
            margin: 0;
        }
    }
}
