/* For all devices */
.home-hello__hello,
.home-hello__welcome {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: $primary-colour;
    text-shadow: 1px 1px 2px transparentize($grey, 0.4);
}

.home-hello__hello {
    margin: 10px 0;

    span {
        font-size: 28px;
        line-height: 30px;
    }
}

.home-hello__welcome {
    display: block;
}

.home-hello__images {
    position: relative;
    display: inline-block;
    width: 66%;
    max-width: 150px;
    margin: 0 auto;
}

.home-hello__image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.6);
}

.home-hello__image--logo {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: none;
    opacity: 0;
    transition: 1s opacity ease;

    &:hover {
        opacity: 1;
    }
}

.latest-projects {
    .container {
        padding: 0;
    }
}

.latest-projects__view.latest-projects__view {
    margin-right: 0;
    margin-left: 0;
}

.latest-projects__slide-show {
    width: 100%;
    margin: 0;
}

.latest-projects .slide-show__viewport:hover {
    box-shadow: none;
    cursor: initial;
}

.latest-project__image {
    opacity: 0.15;
    transition: all 2s ease-in-out;
}

.latest-project.slide-show__slide--active .latest-project__image {
    opacity: 1;
}

.latest-project__info-content {
    margin: 0 auto;
    padding: 10px 35px;
    background-color: $dark-colour;
    color: #ffffff;
    cursor: initial;
    opacity: 0.15;
    transition: all 2s ease-in-out;
}
.latest-project.slide-show__slide--active .latest-project__info-content {
    opacity: 1;
}

.latest-project__link.latest-project__link {
    transition: all 0.3s ease-in-out;
    font-weight: 700;
}

.latest-project__image:hover {
    transform: none;
}

.latest-project__header {
    margin: 10px auto 15px;
    display: flex;
    align-items: center;
}

.latest-project__title {
    width: 100%;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
}

.latest-project__date {
    width: 100%;
    margin: 0 0 0 36px;
    font-size: 14px;
    text-align: right;
    white-space: nowrap;
}

.latest-projects__loading {
    width: 100%;
}

.latest-projects__error {
    display: none;
    width: 100%;
    margin: 0;
    font-weight: 700;
    color: $error-colour;
}

/* Only for Tablets */
@media only screen and (min-width: $tablet-width) {
    .home-hello__hello {
        font-size: 34px;
        line-height: 36px;

        span {
            font-size: 46px;
            line-height: 50px;
        }
    }

    .home-hello__welcome {
        font-size: 22px;
        line-height: 24px;
    }

    .home-hello__images {
        width: 50%;
        max-width: 200px;
    }

    .latest-projects {
        padding: 0;

        .container {
            padding: 0 15px;

            > div:first-child {
                text-align: left;
            }
        }

        .slide-show__bullets {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }

        .slide-show__bullet {
            box-shadow: 0 0 10px 0 #ffffff;
        }
    }

    .latest-project__info {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .latest-project__info-content {
        max-width: 75%;
        transform: translateY(100%);
        padding: 10px;
        background-color: transparentize($dark-colour, 0.2);
        border-radius: 5px;
    }

    .latest-project.slide-show__slide--active .latest-project__info-content {
        transform: translateY(0);
    }

    .latest-project__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .home-hello__hello {
        font-size: 38px;
        line-height: 40px;

        span {
            font-size: 50px;
            line-height: 54px;
        }
    }

    .home-hello__welcome {
        font-size: 26px;
        line-height: 30px;
    }

    .home-hello__images {
        width: 25%;
        max-width: 220px;
    }
}
