/* For all devices */
.search-form {
    margin: 30px auto;
}

.search-form__inner {
    position: relative;
}

.search-form__input {
    margin: 0;
    width: 100%;
    border: 3px solid $primary-colour;
    border-radius: 40px;
    font-size: 15px;
    padding: 6px 12px;
}

.search-form__submit {
    position: absolute;
    top: 4px;
    right: 16px;
    margin: 0;
    padding: 4px 0 4px 4px;
    border-radius: 50%;
    font-size: 22px;
    background: transparent;
    color: transparent;
    transition: color 0.2s ease-in-out;
}
.search-form__submit:hover,
.search-form__submit:focus {
    background: transparent;
}

.search-form__submit:focus,
.search-form__input:focus + .search-form__submit {
    color: $primary-colour;
}

.projects__loading {
    width: 100%;
}

.pagination.projects__pagination {
    display: none;
    margin-top: 20px;
    margin-bottom: 5px;
}

.projects__error {
    @extend .field__error;
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .search-form {
        margin: 40px auto;
    }

    .search-form__inner {
        max-width: 436px;
        margin: 0 auto;
    }

    .projects__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .search-form {
        margin: 60px auto;
    }

    .search-form__input {
        font-size: 18px;
        padding: 8px 14px;
    }

    .search-form__submit {
        top: 2px;
        right: 18px;
        padding: 8px 0 8px 8px;
        font-size: 24px;
    }

    .pagination.projects__pagination {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}
