.main-content {
    display: flex;
    transition: all 1s ease-in-out;
}

.nav ~ .main-content {
    padding-top: 46px;
}

.main-content__inner {
    width: 100%;
}

.main-content ul {
    margin: 10px 0;
    padding-left: 20px;
    list-style: inside;
}

.main-content li {
    margin: 2px 0;
}
