/* For all devices */
.header {
    height: 100vh;
    color: #ffffff;
    background: $primary-colour url("/assets/images/work.jpg?v=2") no-repeat center center scroll;
    background-size: cover;
}
.header--401,
.header--403,
.header--404 {
    background-image: url("/assets/images/mistake.jpg?v=2");
}
.header--500 {
    background-image: url("/assets/images/500.jpg?v=2");
}
.header--about {
    background-image: url("/assets/images/marmaris.jpg?v=2");
}
.header--contact {
    background-image: url("/assets/images/contact.jpg?v=2");
}
.header--home {
    background-image: url("/assets/images/laptop.jpg?v=2");
}
.header--projects {
    background-image: url("/assets/images/projects.jpg?v=2");
}

.header__overlay {
    display: flex;
    height: 100%;
    background: transparentize($dark-colour, 0.85);
}

.header__title {
    text-shadow: 2px 2px 3px #000000;
    font-size: 42px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 26px;
}

.header__line-breaker {
    margin: 0 auto;
    max-width: 50%;
}

.header__description {
    text-shadow: 2px 2px 3px #000000;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    margin-top: 26px;
}

.header__links {
    margin: 18px 0 0;

    .social-link {
        display: inline-block;
        margin: 8px;
    }
}

.header__scroll-to-content {
    position: absolute;
    bottom: 24px;
    left: 50%;
    margin-left: -18px;
    padding: 0;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
    animation: bounce 1.5s linear infinite;
}

.header__scroll-to-content:hover,
.header__scroll-to-content:focus {
    opacity: 1;
    background: transparentize($light-colour, 0.9);
}

.header__scroll-to-content svg {
    width: 36px;
    height: 36px;
}

/* Only for Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .header__title {
        font-size: 50px;
        line-height: 52px;
        margin-bottom: 32px;
    }

    .header__description {
        font-size: 26px;
        line-height: 28px;
        margin-top: 32px;
    }

    .header__links {
        margin: 24px 0 0;
    }

    .header__scroll-to-content {
        margin-left: -20px;
    }

    .header__scroll-to-content svg {
        width: 40px;
        height: 40px;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .header {
        background-attachment: fixed;
    }

    .header__scroll-to-content {
        margin-left: -25px;
    }

    .header__scroll-to-content svg {
        width: 50px;
        height: 50px;
    }
}

@keyframes bounce {
    0% {
        bottom: 24px;
    }
    50% {
        bottom: 36px;
    }
    100% {
        bottom: 24px;
    }
}
