.nav {
    position: fixed;
    margin: 0 -15px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: all 0.7s ease-in-out;
}

.nav--light {
    background-color: transparentize(#ffffff, 0.92);
}

.nav--dark {
    background-color: transparentize($dark-colour, 0.8);
}

.nav--scrolled,
.nav--open {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 $dark-colour;
}

.nav__header {
    height: 46px;
}

.nav__logo-container {
    display: inline-block;
    height: 46px;
    padding: 4px 0;
}

.nav__logo {
    height: 100%;
    background: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
    opacity: 1;

    svg {
        height: 100%;
        width: auto;
    }
}

.nav__logo.nav__logo--active,
.nav__logo:hover,
.nav__logo:focus {
    svg {
        fill: $primary-colour;

        #front-line,
        #front-text {
            fill: $primary-colour;
            stroke: $primary-colour;
        }
    }
}

.nav__mobile-toggle {
    position: absolute;
    top: 0;
    right: 16px;
    margin: 6px 10px 6px 0;
    padding: 7px;
    border: solid transparent 2px;
    border-radius: 50%;
    transition: all 0.7s ease-in-out;
}

.nav__menu-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.7s ease-in-out;
    position: relative;
}

.nav--scrolled .nav__menu-bar {
    background-color: $dark-colour;
}

.nav--open .nav__mobile-toggle {
    border-color: get-colour(red, main);
}

.nav--open .nav__menu-bar {
    background-color: get-colour(red, main);
}

.nav__menu-bar:nth-child(2) {
    top: 0;
}

.nav__menu-bar:nth-child(3) {
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}

.nav__menu-bar:nth-child(4) {
    top: 0;
    margin-top: 4px;
}

.nav--open .nav__menu-bar:nth-child(2) {
    top: 6px;
    transform: rotate(45deg);
}

.nav--open .nav__menu-bar:nth-child(3) {
    background-color: transparent;
    width: 0;
}

.nav--open .nav__menu-bar:nth-child(4) {
    top: -6px;
    transform: rotate(-45deg);
}

.nav__links-container {
    display: none;
}

.nav__links {
    border-top: $light-grey 1px solid;
}

.nav__link {
    display: block;
    padding: 12px;
    color: #ffffff;
    text-align: center;
}

.nav--scrolled .nav__link,
.nav--open .nav__link {
    color: $dark-colour;
}

.nav__link:hover,
.nav__link:focus {
    color: get-colour(dark-blue, main);
}

.nav__link.nav__link--active {
    background-color: get-colour(dark-blue, main);
    color: #ffffff;
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .nav {
        margin: 0;
    }

    .nav__container {
        display: flex;
    }

    .nav__mobile-toggle {
        display: none;
    }

    .nav__links-container {
        display: block;
        flex: 1;
    }

    .nav__links {
        float: right;
        border-top: 0;
    }

    .nav__item {
        float: left;
    }

    .nav__link {
        border-bottom: solid transparent 2px;
    }

    .nav__link:hover,
    .nav__link:focus,
    .nav__link--active {
        border-bottom-color: get-colour(dark-blue, main);
    }
}
