.nav {
    position: fixed;
    margin: 0 -15px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: all 0.7s ease-in-out;
    background-color: transparentize(#ffffff, 0.92);
}

.nav--scrolled,
.nav--open {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 $dark-colour;
}

.nav__header {
    height: 46px;
    padding: 0 15px;
    text-align: left;
    position: relative;
}

.nav__logo {
    display: inline-block;
    height: calc(100% - 8px);
    background: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
    margin: 4px 0;

    img {
        height: 100%;
        width: auto;
        opacity: 1;
    }
}

.nav__logo.nav__logo--active,
.nav__logo:hover,
.nav__logo:focus {
    border: 1px solid $brand-colour;

    img {
        box-shadow: none;
    }
}

.nav__mobile-toggle {
    position: absolute;
    top: 0;
    right: 15px;
    margin: 6px 0;
    padding: 7px;
    border: solid transparent 2px;
    border-radius: 50%;
    transition: all 0.7s ease-in-out;
}

.nav__menu-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.7s ease-in-out;
    position: relative;
}

.nav--scrolled .nav__menu-bar {
    background-color: $dark-colour;
}

.nav--open .nav__mobile-toggle {
    border-color: $red;
}

.nav--open .nav__menu-bar {
    background-color: $red;
}

.nav__menu-bar:nth-child(2) {
    top: 0;
}

.nav__menu-bar:nth-child(3) {
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
}

.nav__menu-bar:nth-child(4) {
    top: 0;
    margin-top: 4px;
}

.nav--open .nav__menu-bar:nth-child(2) {
    top: 6px;
    transform: rotate(45deg);
}

.nav--open .nav__menu-bar:nth-child(3) {
    background-color: transparent;
    width: 0;
}

.nav--open .nav__menu-bar:nth-child(4) {
    top: -6px;
    transform: rotate(-45deg);
}

.nav__links-container {
    display: none;
}

.nav__links {
    border-top: $light-grey 1px solid;
}

.nav__link {
    display: block;
    padding: 12px;
    color: #ffffff;
    text-align: center;

    .nav--scrolled &,
    .nav--open & {
        color: $dark-colour;
    }
}

.nav__link--active.nav__link--active.nav__link--active {
    color: $brand-colour;
}

.nav__link:hover,
.nav__link:focus {
    color: $brand-colour;
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .nav {
        margin: 0;
    }

    .nav__header {
        padding: 0;
    }

    .nav__container {
        display: flex;
    }

    .nav__mobile-toggle {
        display: none;
    }

    .nav__links-container {
        display: block;
        flex: 1;
    }

    .nav__links {
        border-top: 0;
        text-align: right;
    }

    .nav__item {
        display: inline-block;
    }

    .nav__link {
        position: relative;
        margin: 8px 0 8px 24px;
        padding: 5px 0;

        &::after {
            content: "\00a0";
            position: absolute;
            bottom: 1px;
            left: 50%;
            width: 0;
            height: 1.5px;
            transition: all 0.3s ease-in-out;
            transform: translateX(-50%);
        }
    }

    .nav__link:hover,
    .nav__link:focus,
    .nav__link--active {
        color: #ffffff;

        .nav--scrolled & {
            color: $dark-colour;
        }

        &::after {
            width: 32px;
            background: $brand-colour;
        }
    }
}
