.row {
    padding: 18px 0;
    background-color: #ffffff;
}
.row--tall {
    padding: 24px;
}
.row--flush {
    padding: 0;
}

.row--tablet-thirds,
.row--thirds,
.row--halves {
    padding-top: 0;
    padding-bottom: 0;
}

.row--tablet-thirds,
.row--thirds {
    .row__heading {
        padding-top: 18px;
    }
}

.row--tablet-thirds,
.row--thirds,
.row--halves {
    .row__column {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

.row--alt {
    background-color: $light-colour;
    color: $dark-colour;
}

.row--brand {
    background-color: $brand-colour;
    color: #ffffff;
}

.row--secondary {
    background-color: $secondary-colour;
    color: $dark-colour;
}

.row__heading {
    width: 100%;
    margin: 0 0 18px 0;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}
.row__heading--flush {
    margin-bottom: 0;
}

.row__sub-heading {
    width: 100%;
    margin: 8px 0;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.row__column-image {
    width: 75%;
    max-width: 165px;
}

.row__column--flush.row__column--flush {
    padding: 0;
}

/* Only for Desktops */
@media only screen and (min-width: $tablet-width) {
    .row {
        padding: 30px 0;
    }

    .row--flush {
        padding: 0;
    }

    .row--tall {
        padding: 36px 0;
    }

    .row__heading {
        margin-bottom: 32px;
        font-size: 26px;
        line-height: 30px;
    }

    .row__sub-heading {
        margin: 10px 0;
        font-size: 18px;
        line-height: 20px;
    }

    .row--tablet-thirds,
    .row--halves {
        > .container {
            display: flex;
            align-items: center;
        }

        .row__heading {
            padding-top: 0;
        }
    }

    .row--tablet-thirds {
        .row__column {
            width: 33%;
            padding: 0;

            &:first-child {
                padding-right: 15px;
            }

            &:not(:first-child):not(:last-child) {
                padding-right: 7.5px;
                padding-left: 7.5px;
            }

            &:last-child {
                padding-left: 15px;
            }
        }
    }

    .row--halves {
        .row__column {
            width: 50%;
            padding: 0;

            &:first-child {
                padding-right: 15px;
            }

            &:last-child {
                padding-left: 15px;
            }
        }
    }
}

@media only screen and (min-width: $desktop-width) {
    .row--thirds {
        > .container {
            display: flex;
            align-items: center;
        }

        .row__column {
            width: 33%;
            padding-top: 0;
            padding-bottom: 0;

            &:first-child {
                padding-right: 30px;
            }

            &:not(:first-child):not(:last-child) {
                padding: 0 15px;
            }

            &:last-child {
                padding-left: 30px;
            }
        }
    }

    .row--tall {
        padding: 44px 0;
    }

    .row__heading {
        margin-bottom: 40px;
    }
}
