@import "breakpoints.json";

$error-colour: #f74440;
$success-colour: #00a000;

$light-colour: #f5f5f5;
$light-grey: #eeeeee;
$grey: #7b8676;
$dark-colour: #333333;

$email-colour: #0f7c10;
$github-colour: #e52525;
$linkedin-colour: #007bb5;
$instagram-purple-colour: #8a3ab9;

$desktop-width: $desktop;
$tablet-width: $tablet;

$max-width: 1170px;
