.cookie-banner {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: $dark-colour;
    box-shadow: 0 0 10px 0 $dark-colour;
    z-index: 10;
}

.cookie-banner > .container {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.cookie-banner__text {
    text-align: left;
    color: #ffffff;
    font-weight: 700;
}

.cookie-banner__actions {
    text-align: right;
    margin-left: 15px;
}

.cookie-banner__link {
    color: #ffffff;
    border-bottom-color: #ffffff;
}

.cookie-banner__link:hover,
.cookie-banner__link:focus {
    color: $green-light;
    border-bottom-color: $green-light;
}

.cookie-banner__close {
    padding: 4px 8px;
    font-weight: 700;
    background-color: $green;
    color: #ffffff;

    &:hover,
    &:focus {
        background-color: $green-light;
    }
}

/* Only for Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .cookie-banner {
        font-size: 14px;
        line-height: 18px;
    }

    .cookie-banner > .container {
        padding: 0 60px;
    }

    .cookie-banner__text {
        width: 80%;
    }

    .cookie-banner__actions {
        width: 20%;
        margin-left: 0;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .cookie-banner > .container {
        padding: 0 120px;
    }

    .cookie-banner__close {
        padding: 5px 10px;
    }
}
