.latest-projects {
    .container {
        padding: 0;
    }
}

.latest-projects__loading {
    width: 100%;
}

.latest-projects__intro {
    margin-bottom: 18px;
}

.latest-projects__error {
    display: none;
    width: 100%;
    margin: 0;
    font-weight: 700;
    color: $error-colour;
}

.latest-projects__view-more {
    margin: 0;
}

.latest-projects__slide-show {
    width: 100%;
    margin: 0;
}

.latest-projects .slide-show__viewport:hover {
    box-shadow: none;
    cursor: initial;
}

.latest-project__image {
    opacity: 0.15;
    transition: all 2s ease-in-out;
}

.latest-project.slide-show__slide--active .latest-project__image {
    opacity: 1;
}

.latest-project__info-content {
    margin: 0 auto;
    padding: 16px 35px;
    background-color: $dark-colour;
    color: #ffffff;
    cursor: initial;
    opacity: 0.15;
    transition: all 2s ease-in-out;

    .latest-project.slide-show__slide--active & {
        opacity: 1;
    }
}

.latest-project__image:hover {
    transform: none;
}

.latest-project__title {
    width: 100%;
    margin: 0 0 12px;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.latest-project__description {
    p:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: $tablet-width) {
    .latest-projects {
         .container {
            padding: 0 15px;

            > div:first-child {
                text-align: left;
            }
        }

        .slide-show__bullets {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            text-align: right;
        }

        .slide-show__bullet {
            box-shadow: 0 0 10px 0 #ffffff;
        }
    }

    .latest-projects_column--slide-show {
        margin-top: -30px;
        margin-bottom: -30px;
    }

    .latest-projects__intro {
        margin-bottom: 32px;
    }

    .latest-projects__view-more {
        margin-bottom: 0;
    }

    .latest-project__info {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .latest-project__info-content {
        max-width: 66%;
        transform: translateY(100%);
        padding: 10px;
        background-color: transparentize($dark-colour, 0.2);
        border-radius: 5px;
    }

    .latest-project.slide-show__slide--active .latest-project__info-content {
        transform: translateY(0);
    }

    .latest-project__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (min-width: $desktop-width) {
    .latest-projects__intro {
        margin-bottom: 40px;
    }
}
