/* For all devices */
.pagination.pagination {
    display: inline-block;
    padding: 3px 38px;
    border-radius: 24px;
    background: #ffffff;
    box-shadow: 0 0 10px 0 transparentize($dark-colour, 0.8);
}

.pagination__item.pagination__item {
    display: inline-block;
    margin: 1px 4px;
}

.pagination__link.pagination__link {
    display: inline-block;
    min-height: 38px;
    min-width: 38px;
    padding: 8px 14px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background: #ffffff;
    color: $dark-colour;
    transition: all 0.25s ease-in-out;
}

.pagination__link:hover,
.pagination__link:focus {
    color: $brand-colour;
}

.pagination__link.pagination__link--active,
.pagination__link--active:hover,
.pagination__link--active:focus {
    background: $brand-colour;
    border-color: darken($brand-colour, 5);
    color: #ffffff;
    cursor: default;
}
