.workflow__item {
    width: 100%;
    margin-bottom: 10px;
}

.workflow__image {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.workflow__description {
    margin-top: 10px;
}

/* For Tablets & Desktops */
@media only screen and (min-width: $tablet-width) {
    .workflow {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .workflow__item {
        display: inline-block;
        width: calc(50% - 20px);
        margin: 0 10px 10px;
    }

    .workflow__image {
        max-width: 120px;
    }
}

/* Only for Desktops */
@media only screen and (min-width: $desktop-width) {
    .workflow__item {
        width: calc(33% - 20px);
    }

    .workflow__image {
        max-width: 150px;
    }
}
